<div class="promo promo_events">
    <div class="wrapper">
        <div class="promo__title">
            <div class="promo__question">Узнай первый что происходит вокруг тебя и во всем мире</div>
            <div class="promo__subtitle_top">Раздел</div>
            <h1 class="promo__head-title"><a href="/news">События</a></h1>
            <div class="promo__subtitle">Расскажет все самое интересное</div>
        </div>
{#        <div class="promo__info">#}
{#            <p class="promo__about">#}
{#                Ближайшие события:#}
{#            </p>#}
{#            <ul class="news-list">#}
{#                <li class="news-list__item clearfix">#}
{#                    <div class="news-list__img" style="background-image: url('/static/img/news/some-news.png');"></div>#}
{#                    <div  class="news-list__body">#}
{#                        <div class="news-list__title">Заголовок события</div>#}
{#                        <div class="news-list__text">1 апреля 18:00</div>#}
{#                    </div>#}
{#                    <a href="" class="news__link">подробнее</a></li>#}
{#                <li class="news-list__item clearfix">#}
{#                    <div class="news-list__img" style="background-image: url('/static/img/news/some-news.png');"></div>#}
{#                    <div  class="news-list__body">#}
{#                        <div class="news-list__title">Заголовок события</div>#}
{#                        <div class="news-list__text">1 апреля 18:00</div>#}
{#                    </div>#}
{#                    <a href="" class="news__link">подробнее</a></li>#}
{#                <li class="news-list__item clearfix">#}
{#                    <div class="news-list__img" style="background-image: url('/static/img/news/some-news.png');"></div>#}
{#                    <div  class="news-list__body">#}
{#                        <div class="news-list__title">Заголовок события</div>#}
{#                        <div class="news-list__text">1 апреля 18:00</div>#}
{#                    </div>#}
{#                    <a href="" class="news__link">подробнее</a></li>#}
{#            </ul>#}
{#        </div>#}
    </div>
</div>