
      <div class="promo promo_garage">
          <div class="wrapper">
              <div class="promo__title">
                  <div class="promo__question">Есть интересные <br />  идеи но нет возможности реализовать все одному?</div>
                  <h1 class="promo__head-title">
                     <img src="../../static/img/garage-logo.png" alt="">
                      <small>Бизнес-инкубатор</small>Гараж
                  </h1>
                  <div class="promo__subtitle">прокачает твой <br /> проект</div>
                  <a href="/8" class="proposal__link">Подробнее</a>
              </div>
{#              <div class="promo__info">#}
{#                  <p class="promo__about">#}
{#                        <span>Гараж это</span>#}
{#                    исполнительный орган по развитию и#}
{#                    координации научно-технической работы студентов и#}
{#                    созданию новых университетских традиций.#}
{#                  </p>#}
{#                  <a class="resident">Стать резидентом</a>#}
{#                  <div class="proposal">#}
{#                        <h3 class="proposal__title">Наши образовательные проекты:</h3>#}
{#                        <ul class="proposal__list">#}
{#                            <div class="proposal__item">#}
{#                                <div class="proposal__sub-title"><div class="icon1"></div>Интернет-предпринимательство</div>#}
{#                                <a href="" class="proposal__link">Подробнее</a>#}
{#                            </div>#}
{#                            <div class="proposal__item">#}
{#                                <div class="proposal__sub-title"><div class="icon2"></div>Управление инновациями</div>#}
{#                                <a href="" class="proposal__link">Подробнее</a>#}
{#                            </div>#}
{#                        </ul>#}
{#                  </div>#}
{#              </div>#}
          </div>
      </div>
