.promo{
    background-color: black;
    background-position: -75px 70%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: IntroLight;
}
.garage{
    display: inline-block;
    position: relative;
    top: 25px;
    left: 165px;
}
.promo_garage{
    color: #828282;
    background-image: url('../img/promo-garage.png');
    background-position: 50% 50%;
}
.promo_garage .promo__title{
    color: #000;
}
.promo_garage .promo__head-title{
    font: 45px "IntroLight";
    margin-bottom: 0;
    margin-top: 30px;
}


.promo_garage .promo__head-title small{
    font-size: 14px;
    display: block;
    margin-bottom: -2px;
}
.promo_garage .promo__head-title img{
    float: right;
    margin: 0 35px 0 0;
}
.promo_garage .promo__question{
    font-family: IntroRegular;
}

.promo_garage .promo__subtitle{
    font-size: 15px;
}
.promo_garage .promo__about{
    margin-top: 20px;
}
.promo_garage .promo__about span, .promo_garage .proposal__title{
    color: #DB8112;
}
.promo_garage .proposal__item{
    width: 175px;
    color: #DBDBDB;
    margin-right: 30px;
}
.promo_garage .proposal__item:last-child{
    margin-right: 0;
    width: 160px
}
.promo_garage .proposal__sub-title{
    font-size:12px;
}
.promo_garage .proposal__link{
    border: 1px solid #DB8112;
    color: #DB8112;
    font-family: "Open Sans";
}
.promo_garage .proposal__link:hover{
    background-color: #DB8112;
    color: #fff;
}

.resident{
    display: block;
    width: 115px;
    height:115px;
    border-radius: 50%;
    border: 1px solid #3C3C3C;
    color: #db8012;
    float: right;
    text-align: center;
    padding: 36px 0;
    margin-top: 55px;
    font-size: 12px;
    font-family: IntroLight;
}
.resident:hover{
    text-decoration: none;
    border-color: #db8012;
}
.icon1{
    width: 21px;
    height: 21px;
    background-image: url('../photo/icon1.png');
    margin-top: 9px;
}
.icon2{
    width: 20px;
    height: 19px;
    background-image: url('../photo/icon2.png');
    margin-top: 10px;
}
.promo_garage .promo__title .proposal__link{
    position:relative;
	font-family: "Open Sans";
	border: 1px solid #fff;
	color: #fff;
	margin-top: 15px;
}
.promo_garage .promo__title .proposal__link:hover{
    background-color: #fff;
	border: 1px solid #fff;
	color: #1D1D1D;
}
