*/.DS_Store

.idea/

.idea/workspace.xml

.idea/misc.xml

.idea/stud-nstu.iml

.idea/modules.xml

__pycache__/view.cpython-35.pyc

API/__pycache__/News.cpython-35.pyc

__pycache__/view.cpython-35.pyc

*.pyc

*.pyc

*.pyc

API/__pycache__/__init__.cpython-35.pyc

*.pyc

*.pyc

*.pyc
