{#{% for page in pages %}#}
{#    <span class="content__data">Обновлено {{ page.date }}</span>#}
{#    <h2>{{ page.title }}</h2>#}
{#    {{ page.page_content |safe }}#}
{##}
{#<div class="docs">#}
{#    {% for file in files %}#}
{#  <a href="" class="docs__item">#}
{#      <img src="../static/photo/file.png" alt="" class="docs__img">#}
{#      <span class="dics__name">Участники (от 29.02.2016)</span>#}
{#      <span class="docs__info">(word, 39кб)</span>#}
{#  </a>#}
{#</div>#}
{#{% endfor %}#}
{% if list | length == 1 %}
              <div class="main-content">
                  <span class="content__data">Обновлено {{ list[0].date }}</span>
                  <h2>{{ list[0].title }}</h2>
                  {{ list[0].page_content |safe }}
{##}
{#                <div class="docs">#}
{#                      <a href="" class="docs__item">#}
{#                          <img src="../static/photo/doc.png" alt="" class="docs__img">#}
{#                          <span class="dics__name">Шаблон статьи</span>#}
{#                          <span class="docs__info">(word, 39кб)</span>#}
{#                      </a>#}
{#                      <a href="" class="docs__item">#}
{#                          <img src="../static/photo/doc.png" alt="" class="docs__img">#}
{#                          <span class="dics__name">Требования</span>#}
{#                          <span class="docs__info">(word, 39кб)</span>#}
{#                      </a>#}
{#                      <a href="" class="docs__item">#}
{#                          <img src="../static/photo/pdf.png" alt="" class="docs__img">#}
{#                          <span class="dics__name">Участники (от 29.02.2016)</span>#}
{#                          <span class="docs__info">(pdf, 39кб)</span>#}
{#                      </a>#}
{#                  </div>#}
              </div>
{% else %}
    {% for page in list %}
      <div class="conference-preview clearfix">
        <div class="conference-preview__wrapper">
          <div class="conference-preview__head clearfix">
              <div class="conference-preview__title"><a href="{{ base_url }}/{{ page.id }}">{{ page.title }}</a></div>
              <div class="conference-preview__date">Обновлено {{ page.date }}</div>
          </div>
          <div class="conference-preview__body">
              <p> {{ page.lead_content }} </p>
    {#          <p class="conference-preview__status">Принимаются заявки</p>#}
          </div>
        </div>
      </div>
    {% endfor %}

{% endif %}

{#<div class="main-content">#}
{#  <h2>Конференции</h2>#}
{#  <div class="conference-preview clearfix">#}
{#    <div class="conference-preview__wrapper">#}
{#      <div class="conference-preview__head clearfix">#}
{#          <div class="conference-preview__title"><a href="">Наука. Технологии. Инновации.</a></div>#}
{#          <div class="conference-preview__date">Обновлено 21.06.2016</div>#}
{#      </div>#}
{#      <div class="conference-preview__body">#}
{#          <p>Всероссийская научная конференция молодых ученых "Наука. Технологии. Инновации" (НТИ-201_), проходит при поддержке Министерства образования и науки Российской федерации в рамках Программы развития деятельности студенческих объединений (ПРДСО-2016)...</p>#}
{#          <p class="conference-preview__status">Принимаются заявки</p>#}
{#      </div>#}
{#      </div>#}
{#  </div>#}
{#  <div class="conference-preview clearfix">#}
{#      <img class="conference-preview__img" src="../static/img/conference.png">#}
{#      <div class="conference-preview__wrapper">#}
{#          <div class="conference-preview__head clearfix">#}
{#              <div class="conference-preview__title"><a href="">Наука. Технологии. Инновации.</a></div>#}
{#              <div class="conference-preview__date">Обновлено 21.06.2016</div>#}
{#          </div>#}
{#          <div class="conference-preview__body">#}
{#              <p>Всероссийская научная конференция молодых ученых "Наука. Технологии. Инновации" (НТИ-201_), проходит при поддержке Министерства образования и науки Российской федерации в рамках Программы развития деятельности студенческих объединений (ПРДСО-2016)...</p>#}
{#              <p class="conference-preview__status">Принимаются заявки</p>#}
{#          </div>#}
{#      </div>#}
{#  </div>#}
{#</div>#}



<script>
var acc = document.getElementsByClassName("accordion__button");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
  	  panel.style.maxHeight = null;
    } else {
  	  panel.style.maxHeight = panel.scrollHeight + "px";
    }
  }
}
</script>