<div class="wrapper">
{% if list |length !=1 %}
{% for item in list %}
    {% if loop.index==1 or loop.index== 8%}
        <div class="week">
            <div class="week__body">
    {% endif %}
              <div class="day">
                  <div class="day__title">
                      <span class="day__name">{{ item.weekday }}</span>
                      <span class="day__date">{{ item.day }} {{ item.month }}</span>
                  </div>
                  {% if item.events | length == 0 %}
                    <p class="day__event_empty">нет событий</p>
                  {% else %}
                      {% for row in  item.events %}
                           <a href="9/{{ row.url}}" class="day__event {{ loop.cycle('day__event_green', 'day__event_red') }} ">
                              <p class="day__event-time">{{ row.time }}</p>
                              <p class="day__event-text">{{ row.title }}</p>
                           </a>
                      {% endfor %}
                  {% endif %}
{#
{#                  <a href="" class="day__event day__event_red">#}
{#                      <p class="day__event-time">18:00 - 19:00</p>#}
{#                      <p class="day__event-text">Студенческая весна в центре культуры...</p>#}
{#                  </a>#}
              </div>
                {% if loop.index==7 or loop.index == 14%}
            </div>
        </div>
        {% endif %}
{% endfor %}
{% else %}
    <div class="full-news">
      {% if list[0].image_name !=None %}
          <img class="full-news__img" src="/static/img/news/{{ list[0].image_name }}">
      {% endif %}
      <div class="full-news__title clearfix">
          <div class="full-news__title-text">{{ list[0].title }}</div>
      </div>
      <div class="full-news__body">
          <p class="full-news__p">{{ list[0].text | safe }}</p>
      </div>
    </div>
{% endif %}
</div>

{#    <div class="week">#}
{#        <h3 class="week__title">7 учебная неделя</h3>#}
{#    <div class="week__body">#}
{#      <div class="day">#}
{#          <div class="day__title">#}
{#              <span class="day__name">ПН</span>#}
{#              <span class="day__date">6 апреля</span>#}
{#          </div>#}
{#          <a href="" class="day__event day__event_green">#}
{#              <p class="day__event-time">18:00 - 19:00</p>#}
{#              <p class="day__event-text">Студенческая весна в центре культуры...</p>#}
{#          </a>#}
{#          <a href="" class="day__event day__event_red">#}
{#              <p class="day__event-time">18:00 - 19:00</p>#}
{#              <p class="day__event-text">Студенческая весна в центре культуры...</p>#}
{#          </a>#}
{#      </div>#}
{#      <div class="day">#}
{#          <div class="day__title">#}
{#              <span class="day__name">ПН</span>#}
{#              <span class="day__date">6 апреля</span>#}
{#          </div>#}
{#          <a href="" class="day__event day__event_green">#}
{#              <p class="day__event-time">18:00 - 19:00</p>#}
{#              <p class="day__event-text">Студенческая весна в центре культуры...</p>#}
{#          </a>#}
{#          <a href="" class="day__event day__event_red">#}
{#              <p class="day__event-time">18:00 - 19:00</p>#}
{#              <p class="day__event-text">Студенческая весна в центре культуры...</p>#}
{#          </a>#}
{#      </div>#}
{#        <div class="day">#}
{#          <div class="day__title">#}
{#              <span class="day__name">ПН</span>#}
{#              <span class="day__date">6 апреля</span>#}
{#          </div>#}
{#            <p class="day__event_empty">нет событий</p>#}
{#      </div>#}
{#        <div class="day">#}
{#          <div class="day__title">#}
{#              <span class="day__name">ПН</span>#}
{#              <span class="day__date">6 апреля</span>#}
{#          </div>#}
{#          <a href="" class="day__event day__event_red">#}
{#              <p class="day__event-time">18:00 - 19:00</p>#}
{#              <p class="day__event-text">Студенческая весна в центре культуры...</p>#}
{#          </a>#}
{#      </div>#}
{#        <div class="day">#}
{#          <div class="day__title">#}
{#              <span class="day__name">ПН</span>#}
{#              <span class="day__date">6 апреля</span>#}
{#          </div>#}
{#          <a href="" class="day__event day__event_green">#}
{#              <p class="day__event-time">18:00 - 19:00</p>#}
{#              <p class="day__event-text">Студенческая весна в центре культуры...</p>#}
{#          </a>#}
{#          <a href="" class="day__event day__event_red">#}
{#              <p class="day__event-time">18:00 - 19:00</p>#}
{#              <p class="day__event-text">Студенческая весна в центре культуры...</p>#}
{#          </a>#}
{#      </div>#}
{#        <div class="day">#}
{#          <div class="day__title">#}
{#              <span class="day__name">ПН</span>#}
{#              <span class="day__date">6 апреля</span>#}
{#          </div>#}
{#          <a href="" class="day__event day__event_green">#}
{#              <p class="day__event-time">18:00 - 19:00</p>#}
{#              <p class="day__event-text">Студенческая весна в центре культуры...</p>#}
{#          </a>#}
{#      </div>#}
{#        <div class="day">#}
{#          <div class="day__title">#}
{#              <span class="day__name">ПН</span>#}
{#              <span class="day__date">6 апреля</span>#}
{#          </div>#}
{#          <a href="" class="day__event day__event_green">#}
{#              <p class="day__event-time">18:00 - 19:00</p>#}
{#              <p class="day__event-text">Студенческая весна в центре культуры...</p>#}
{#          </a>#}
{#          <a href="" class="day__event day__event_red">#}
{#              <p class="day__event-time">18:00 - 19:00</p>#}
{#              <p class="day__event-text">Студенческая весна в центре культуры...</p>#}
{#          </a>#}
{#      </div>#}
{#    </div>#}
{#</div>#}
</div>