{% if list |length !=1 %}
{% for item in list %}
    <div class="content">
        <div class="gallery-preview clearfix">
            <div class="gallery-preview__title">
                <div class="centr">{{ item.title }}</div>
            </div>
            <div class="gallery-preview__imgs">
                {% for photo in item.photo %}
                    <div style="background-image: url('static/img/gallery/{{ photo.filename}}')" class="gallery__img"></div>
                {% endfor %}
            </div>
                <a class="gallery-preview__more" href="10/0/{{ item.id }}">ещё фото</a>
        </div>
    </div>
{% endfor %}
{% else %}

<div class="gallery">
    <div class="gallery-head">
        <div class="gallery-title clearfix">
            <div class="gallery-title-text">
                {{ list[0].title }}
            </div>
            <div class="gallery-title-date">
                Опубликовано {{ list[0].date }}
            </div>
        </div>
        <p class="gallery-title-body-text">{{ list[0].description }}</p>
{#        <div class="gallery-social clearfix">#}
{#            <p class="gallery-title-body-text">#}
{#                Вы также можете посмотреть фотоотчет в социальных сетях#}
{#            </p>#}
{#            <ul class="social">#}
{#              <li class="vk social__item"><a class="social__link">vk</a></li>#}
{#              <li class="ok social__item"><a class="social__link">ok</a></li>#}
{#              <li class="facebook social__item"><a class="social__link">fb</a></li>#}
{#            </ul>#}
{#        </div>#}
    </div>
<div class="gallery-content">
{% for photo in list[0].photo %}
    <div style="background-image: url('static/img/gallery/{{ photo.filename}}')" class="gallery__img"></div>
{% endfor %}
</div>



  <script src="static/js/jquery-3.1.1.min.js"></script>
  <script>
      (function () {
    function createGalleryLine($wrapper, $children){
        var $parent = $(document.createElement('div'));
        $parent.addClass('gallery__row-img');

        for(var i=0,j=1; ;i+=2,j+=2){
            if($children[i]===undefined) {
                $wrapper.append($parent);
                return;
            }
            if($children[j]===undefined){
                var $el = $(document.createElement('a'));
                $el.addClass('gallery__big-img');
                $el.append($children[i]);
                $el.appendTo($parent);
                delete $children[i];
                continue;
            }

            var $el1 = $(document.createElement('a'));
            var $el2 = $(document.createElement('a'));
            $el1.addClass('gallery__small-img');
            $el2.addClass('gallery__small-img');

            $el1.append($children[i]);
            $el2.append($children[j]);

            var $box = $(document.createElement('div'));
            $box.addClass('gallery__img-box');
            $box.append($el1);
            $box.append($el2);

            $box.appendTo($parent);
            delete $children[i];
            delete $children[j];
        }
    }

    var $images = $('.gallery__img');
    var $wrapper = $('.gallery-content');

    $images.detach();
    console.log("1");

    while ($images.length > 0){
        var $insert = $images.splice(0,7);
        createGalleryLine($wrapper, $insert);
    }

    var $galleryRows = $('.gallery__row-img');
    function setGalleryHeight() {
        $galleryRows.height($galleryRows.width() * 0.2865);
    }

    setGalleryHeight();

    $(window).resize(function () {
       setGalleryHeight();
    });
})();
  </script>
{% endif %}