{% if list | length == 1 %}
    <div class="full-news">
      {% if list[0].image_name !=None %}
          <img class="full-news__img" src="static/img/news/{{ list[0].image_name }}">
      {% endif %}
      <div class="full-news__title clearfix">
          <div class="full-news__title-text">{{ list[0].title }}</div>
          <div class="full-news__title-data">Опубликовано {{ list[0].date }}</div>
      </div>
      <div class="full-news__body">
          <p class="full-news__p">{{ list[0].content | safe }}</p>
      </div>
    </div>
    <script>
        var acc = document.getElementsByClassName("accordion__button");
        var i;

        for (i = 0; i < acc.length; i++) {
          acc[i].onclick = function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            }
          }
        }
    </script>
{% else %}
    {% for item in list %}
        <div class="conference-preview clearfix">
          <img class="conference-preview__img" src="static/img/news/{{ item.image_name }}">
          <div class="conference-preview__wrapper">
              <div class="conference-preview__head clearfix">
                  <div class="conference-preview__title"><a href="12/{{ item.site_id }}/{{ item.id}}">{{ item.title }}</a></div>
                  <div class="conference-preview__date">Обновлено {{ item.date }} </div>
              </div>
              <div class="conference-preview__body">
                  {{ item.lead_content }}
              </div>
          </div>
        </div>
    {% endfor %}
{% endif %}


{#    <div class="news-preview">#}
{#        <a class="news-preview__title" href="/news/{{ item.id}}">{{ item.title }}</a>#}
{#        <div class="news-preview__body clearfix">#}
{#            <div class="news-preview__img" style="background-image: url('../static/img/news/{{ item.image_name }}');" alt=""></div>#}
{#            <p class="news-preview__p"> {{ item.lead_content }} </p>#}
{#        </div>#}
{#        <div class="news-preview__data"> Опубликовано {{ item.date }} </div>#}
{#    </div>#}