<footer class="index-footer">
    <div class="wrapper">
        <div class="adress">Россия 630073, Новосибирск проспект К.Маркса, 20 корпус 1, к. 108 телефон: 8 (383) 3461562 эл.почта: stud@nstu.ru</div>
        <div class="info">&copy; 2005-2017, <a href="https://nstu.ru"> Новосибирский государственный технический университет.</a></div>
   </div>
</footer>
<script src="../../static/js/jquery-3.1.1.min.js"></script>
<script>
	(function(){
		$.ajax({
			url: 'api/admin/news/getMain',
			type: 'GET',
			error: function(a,b){
				console.log(b);
			},
			success: function(data, textStatus){
				data = JSON.parse(data);
				for(var i = 0; i < 5 && i < data.length; i++){
					$('.events-gallery__buttons').append('<button data-id=' + i + ' class="events-gallery__button"></button>');
				}
				
				var more_link = $('.events-gallery__link');
				var img_src= $('.events-gallery__img');
				var preview_text = $('.events-gallery__description');
				var preview_date = $('.events-gallery__date');
				var preview_title = $('.events-gallery__title');

				function setGallery(n){
					preview_text.text(data[n].lead_content);
					preview_date.text(data[n].date);
					preview_title.text(data[n].title);
					img_src.css('background-image', 'url("/static/img/news/' + data[n].image_name + '")');
					$('.events-gallery__button.active').removeClass('active');
					$($('.events-gallery__button')[n]).addClass('active');
					// Второй аргумент - ссылка
					//more_link.attr('href', 'ссылка');
				}
				var count = 0;
				setGallery(count);
				$('.events-gallery__button').click(function(e){
					var number = $(e.currentTarget).data('id');
					setGallery(number);
					count = number;
				});
				setInterval(function(){
				    count++;
				    if(count === 5)
				        count = 0;
				    setGallery(count);
				}, 5000);
			}
		});
	})();
</script>