<div class="events-gallery">
<div class="events-gallery__img" style="background-image:url('../static/img/main.jpg');"></div>
<div class="events-gallery__info">
    <div class="events-gallery__head clearfix">
        <h3 class="events-gallery__title">Добро пожаловать на студенческий сайт НГТУ</h3>

        <span class="events-gallery__date">21.06.2017</span>
    </div>
    <p class="events-gallery__description">Приглашаем всех желающих на День открытых дверей!</p>
    <a href="" class="events-gallery__link">подробнее</a>
    <div class="events-gallery__footer clearfix">
        <div class="events-gallery__buttons"></div>
        <a href="" class="events-gallery__all">все события</a>
    </div>
</div>
</div>
<div class="wrapper">
{#  <p class="hello">Добро пожаловать на студенческий сайт НГТУ.</p>#}
  <div class="clearfix">
      <div class="preview-section preview-section_sport">
        <h2 class="preview-section__title">Спорт</h2>
        <p class="preview-section__description">Спортивная инфраструктура НГТУ насчитывает 12 спортивных сооружений, на базе которых регулярно проходят различные спартакиады и соревнования, а также работают секции по 30 спортивным направлениям.</p>
        <a href="" class="preview-section__link">подробнее</a>
      </div>
      <div class="preview-section preview-section_sience">
        <h2 class="preview-section__title">Наука</h2>
        <p class="preview-section__description">На базе университета проводятся всероссийские олимпиады, конференции и конкурсы городского, областного и всероссийского уровней.</p>
        <a href="" class="preview-section__link">ОНИРС</a>
        <a href="" class="preview-section__link">Бизнес-инкубатор</a>
      </div>
      <div class="preview-section preview-section_culture">
        <h2 class="preview-section__title">Культура</h2>
        <p class="preview-section__description">На территории университета расположен собственный Центр культуры, который работает по следующим направлениям: музыкальное,танцевальное, творческая мастерская, оригинальный жанр. </p>
        <a href="" class="preview-section__link">подробнее</a>
      </div>
      <div class="preview-section preview-section_life">
        <h2 class="preview-section__title">Общественная жизнь</h2>
        <p class="preview-section__description">В НГТУ представлен обширный выбор общественных организаций, которые занимаются досугом студентов, в том числе органы студенческого самоуправления.</p>
        <a href="" class="preview-section__link">подробнее</a>
      </div>
  </div>
</div>
<div class="nstu-foto"></div>
  <div class="more-services">
    <h2 class="more-services__title">Дополнительные сервисы для студентов:</h2>
    <div class="service">
        <div class="service__img"><img src="../static/img/work.png" alt=""></div>
        <h3 class="service__title">Работа</h3>
        <p class="service__description">Эксклюзивные вакансии, стажировки, презентации и тренинги только для студентов НГТУ!</p>
        <a href="/om" class="service__link">подробнее</a>
    </div>
    <div class="service">
        <div class="service__img"><img src="../static/img/timetable.png" alt=""></div>
        <h3 class="service__title">Расписание</h3>
        <p class="service__description">Расписание занятий на текущий семестр учебного года для студентов и преподавателей НГТУ </p>
        <a href="/schedule" class="service__link">подробнее</a>
    </div>
    <div class="service">
        <div class="service__img"><img src="../static/img/3d.png" alt=""></div>
        <h3 class="service__title">3D-НГТУ</h3>
        <p class="service__description">Виртуальная экскурсия по НГТУ, созданная на основе технологии 3D-панорамной съёмки. </p>
        <a href="/3d-nstu" class="service__link">подробнее</a>
    </div>
</div>