.accordion__button {
    background: none;
    color: #444;
    cursor: pointer;
    padding: 18px 18px 22px 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    text-transform: uppercase;
    border-top: 1px solid #e3e3e3;
}
.accordion__button:last-child {
    border-bottom: 1px solid #e3e3e3;
}
.accordion__button:hover {
    color: #e90b3f;
}

.accordion__panel {
    padding: 0 30px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion__panel>*:last-child{
    margin-bottom: 10px;
}
.accordion__panel>*:first-child{
    margin-top: 10px;
}
.accordion__button:before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("../photo/down.png");
    margin-right: 10px;
    background-repeat: no-repeat;
    position: relative;
    top:2px;
}
.accordion__button.active {
     border-bottom: 1px solid #e3e3e3;
}
.accordion__button::selection{
    border-color: transparent;
}
.accordion__button.active div {
    background-image: url("../photo/up.png");

}
.accordion__panel ul{

    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    padding-left: 28px;
}
.accordion__panel li {
    list-style: circle outside;
    display: list-item;
}