

.gallery{
    padding-top: 50px;
    padding-left: 50px;
    width: 780px;
    margin-bottom: 50px;

}
.gallery-content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top:-15px;
}
.gallery-head{
    position: relative;
    background: linear-gradient(to left, #d90d25, #e90b3f);
    color: #fff;
    min-height: 275px;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-topright: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.gallery-title{
    height: 105px;
    padding: 35px;
}
.gallery-title-text{
    width: 65%;
    float: left;
    line-height: 35px;
    height: 100%;
    font-size: 30px;
}
.gallery-title-date{
    width: 35%;
    float: right;
    height: 100%;
    font-size: 10px;
    line-height: 35px;
    text-align: right;
}
.gallery-title-body-text{
    margin: 0 30px 15px;
    font-size: 11px;
    line-height: 14px;
    font-family: "Open Sans";
}
.gallery-social{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 15px 0;
}
.gallery-social .gallery-title-body-text{
    width: 65%;
    float: left;
    margin: 13px 30px 0;
}
.gallery-social .social{
    margin: 0;
}
.gallery-social .social__item{
    width: 40px;
    height: 40px;
}
.gallery-social .social__link{
    padding: 10px 0;
}

.gallery__row-img{
    clear: both;
}

.gallery__big-img{
    float: left;
    width:50%;
    height:100%;
    overflow: hidden;
}

.gallery__small-img{
    display: block;
    width: 100%;
    height:50%;
    overflow: hidden;
}

.gallery__img-box{
    float: left;
    width:16.666666%;
    height: 100%;
}
.gallery__img{
    width: 100%;
    height: 100%;
    transform:scale(1);
    transition:all 1s;
    -webkit-background-size:cover;
    background-size:cover;
}

.gallery__small-img:hover .gallery__img, .gallery__big-img:hover .gallery__img{
    transform:scale(1.2);
}

/*Lightbox*/
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
    height: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
    display: none;
    text-align: center;
    background-color:black;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}