*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body {
    letter-spacing: 1px;
    min-height: 100%;
    display: flex;
  flex-direction: column;
    min-width: 1100px;
}
main{
    flex: 1;
}
a{
    color: inherit;
}
p{
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
    font-family: "Open Sans";
    color: inherit;
}
h2{
    color: #696969;
    font-size: 24px;
    font-family: IntroRegular;
    line-height: 30px;
    margin-bottom: 20px;
}
label{
	cursor: pointer;
}
button:active, button:focus, input:active, input:focus {
  outline: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.attention{
    color: '#D90D25';
    font-style: 'IntroRegular';
}

header{
    background: linear-gradient(to left, #d90d25, #e90b3f);
    color: #fff;
    height: 130px;
    vertical-align: middle;
    text-align: left;
    text-transform: uppercase;
    font-family: IntroRegular;
}
.wrapper {
    width: 1100px;
    margin: 0 auto;
    height: 100%;
}

.logo{
    float: left;
    height: 100%;
    width: 260px;
    padding: 25px 0;
}
.logo>a:hover{
    text-decoration:none;
}
.logo h1{
    font-size: 11px;
    width: 135px;
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
}
.logo img{
    height: 75px;
    width: 90px;
    vertical-align: middle;
    margin-right: 25px;
}
header nav{
    display: inline-block;
    margin: 27px 20px;
    font-weight: normal;
}

.main-nav {
    font-size: 14px;
}
.sub-nav {
    font-size: 12px;
}

.sub-nav__item, .main-nav__item {
    display: inline-block;
}

.sub-nav__link:visited, .main-nav__link:visited{
    color: #fff;
}

.sub-nav__link, .main-nav__link {
    display: block;
    padding: 8px 8px;
    color: #fff;
}

.social{
    float: right;
    width: 185px;
    margin: 40px 0;
    text-align: right;
}

.social__item {
    height: 50px;
    width: 50px;
    margin: 0 4px;
}
.social__link{
    background-color: #D90D25;
    border-radius: 50%;
    border: 1px solid #DF3C55;
    display: block;
    height: 100%;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 16px 0;
}
.social .social__item{
    display: inline-block;

}
.social__link:hover{
    text-decoration: none;
    background-color: #fff;
    color: #D90D25;
    border-color: #fff;
}

.promo {
    background-color: #1d1d1d;
    color: #E6E6E6;
    height: 380px;
}

.promo__title, .promo__info{
    width: 50%;
    height:100%;
}

.promo__title{
    float: left;
    padding: 70px 30px 60px 235px;
}
.promo__info{
    float: right;
    padding: 50px 0 0 60px;
}

.promo__question{
    font-size: 17px;
    width: 260px;
    line-height: 25px;
}
.promo__head-title{
    font-size: 45px;
    text-transform: uppercase;
    margin: 65px 0 30px;
}
.promo__head-title a:hover{
    text-decoration: none;
}
.promo__subtitle{
    font-size: 14px;
    text-transform: uppercase;
}

.promo__about{
    font-size:12px;
    margin-bottom: 45px;
}

.proposal__title{
    font-size: 16px;
    margin-bottom: 35px;
}
.proposal__item{
    float: left;
    width: 135px;
    margin-right: 20px;
    position: relative;
    height:  140px;
}
.proposal__sub-title>div{
    margin-right: 8px;
    float: left;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.proposal__item:last-child{
    margin-right: 0;
}
.proposal__sub-title{
    font-size: 14px;
    height: 25px;
    margin-bottom: 15px;
    vertical-align: top;
}
.promo__title, .proposal__title{
    font-family: IntroLight;
}
.proposal__sub-info{
    font-size: 10px;
}
.proposal__link{
    position: absolute;
    display: block;
    border-radius: 15px;
    height: 30px;
    width: 90px;
    text-align: center;
    font-size: 10px;
    text-transform: lowercase;
    padding: 5px 0;
    bottom: 0;
    left: 0;
}
.proposal__link:hover{
    text-decoration: none;
}

.sidebar{
    width: 250px;
}
.sidebar-menu{
    margin-top: 15px;
    margin-bottom: 18px;
}
.sidebar-menu__item {
    padding: 7px 0 7px 0;
}
.sidebar-menu__link {
    color: #474747;
    font-size: 17px;
    font-family: IntroLight;
    line-height: 18px;
}
.sidebar-menu__link:visited{
    color: #474747;
}
.sidebar-menu__link:hover {
    color: #e50b38;
    text-decoration: none;
}

.sidebar-menu__item_share::before{
    background-image: url('../img/menu_arrow.png');
    height: 4px;
    width: 7px;
    content: '';
    float: right;
    margin: 7px 0 7px 7px;
}
.sidebar-menu__item_share>.sidebar-menu__link{
    font-family: IntroRegular;
}
.sidebar-menu__second-level{
    margin-left: 15px;
}
.sidebar-menu__second-level .sidebar-menu__item{
    padding: 9px 0 0;
}
.sidebar-menu__second-level .sidebar-menu__link{
    font-size:13px;
}

.events__img {
    width: 180px;
    height: 250px;
    border-radius: 25px;
}

.events {
    border-top: solid 1px #e3e3e3;
    padding-top: 34px;
    width: 200px;
}
.events__item {
    display: inline-block;
    padding-left: 10px;
}
.events__title{
    padding: 20px 0 16px 8px;
    color:#727272;
    font-family: IntroRegular;
    font-size: 12px;
}
.events__more{
    border-top: solid 1px #e3e3e3;
    padding: 10px;
}
.events__more a{
    font-family: OpenSans;
    color: #727272;
    font-size: 10px;
}
.sidebar {
    float: left
}
.main-content{
    float: left;
    width: 845px;
    padding: 30px 0 30px 30px;
}
footer {
    height: 180px;
    background-color: #e7e7e7;
    width: 100%;
    clear: both;
}
footer .adress, footer .info{
    display: inline-block;
    font-size: 10px;
    font-family: OpenSans;
    color: #717171;
    line-height: 13px;
    vertical-align: middle;
}
footer .wrapper:before { /* для IE8+ */
  content: "";
  display: inline-block;
  min-height: inherit;
  height: 100%;
  vertical-align: middle;
}
footer .adress {
    width: 330px;
}
footer .info{
    width: 720px;
}

.promo_cult {
    height: 380px;
    background: url('../photo/bgcult.jpg');
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form{
	border-bottom: 1px solid #E3E3E3;
	border-top: 1px solid #E3E3E3; 
	padding-left:30px;
	color: #2A2A2A;
	font-family: IntroRegular;
	margin: 10px 0 35px;
}
.form-title{
	padding: 25px 0;
	position: relative;
	font-size: 16px;
	font-family: IntroRegular;
	text-transform: uppercase;
}
.form-title:before{
	content: '';
	position: absolute;
	display: block;
	background-image: url(../photo/icon-pen.png);
	height: 21px;
	width: 21px;
	top: 20px;
	left: -30px;
}
.form-box{
	border-top: 1px solid #E3E3E3;
	padding: 25px 0;
	position: relative;
}
.form-box__name{
	position: absolute;
	top: -10px;
	color: #C2C2C2;
	font-size: 14px;
	background-color: #fff;
	padding-right: 10px;
}
.label-text{
	margin: 10px;
	font-size: 14px;
	display: block;
}
.label-text p{
	display: inline-block;
	width: 115px;
	font-family: IntroRegular;
	padding-right: 15px;
	vertical-align: middle;
	margin-bottom: 0;
}
input[type="text"]{
	height: 35px;
	width: 645px;
	display: inline-block;
	border-radius: 17px;
	border: 2px solid #D8D8D8;
	padding: 0 20px;
	vertical-align: middle;
}
input[type="text"]:focus{
	border: 2px solid #B4B4B4;
}
button[type="submit"]{
	border: none;
	color: #fff;
	background-color: #E50B38;
	border-radius: 20px;
	font-size: 14px;
	position: relative;
	bottom: -20px;
	margin: 0 auto;
	width: 175px;
	height: 40px;
	padding: 10px;
	text-align: center;
	display: block;
	outline: 15px solid #fff;
	cursor: pointer;
}
button[type="submit"]:hover{
	background-color: #D50028;
}
.radio-group{
	margin: 15px 10px;
}
.radio-group__variants{
	display: inline-block;
	width: 645px;
	vertical-align: middle;
}
.radio-group__item{
	display: inline-block;
	margin: 5px 5px 5px 0;
	vertical-align: middle;
}
.radio-group__name{
	display: inline-block;
	font-family: IntroRegular;
	margin-bottom: 0;
	vertical-align: middle;
	width: 115px;
	padding-right: 15px;
}
.radio-group__item p{
	margin-bottom: 0;
	font-family: IntroRegular;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.radio-group__item input, .checkbox-item input{
	display: none;
}
.radio-group__circle{
	border-radius: 50%;
	border: 1px solid #D9D9D9;
	height: 20px;
	width: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
input:checked +.radio-group__circle{
	background-color: #E50B38;
	border-color: #E50B38;
}
.checkbox-item{
	margin: 10px 0 10px 130px;
	display: block;
}
.checkbox-item__text{
	vertical-align: middle;
	display: inline-block;
	width: 500px;
}
.checkbox-item__toggle{
	border-radius: 11px;
	height: 22px;
	border: 1px solid #D8D8D8;
	width: 40px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
.checkbox-item__toggle:after{
	height: 16px;
	width: 16px;
	background-color: #D8D8D8;
	margin: 2px 0 0 2px;
	content: '';
	display: block;
	border-radius: 50%;
}
input:checked + .checkbox-item__toggle{
	background-color: #E50B38;
	border-color: #E50B38; 
}
input:checked + .checkbox-item__toggle:after{
	margin: 2px 0 0 20px;
	background-color: #fff;
}