.promo{
    background: url('../photo/Bgonir.png');
    background-color: black;
    background-position: -75px 70%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: IntroLight;
}

.icon30{
    height: 15px;
    width: 19px;
    background-image: url('../photo/icon30.png');
}
.icon31{
    height: 21px;
    width: 14px;
    background-image: url('../photo/icon31.png');
}
.icon32{
    width: 19px;
    height: 16px;
    background-image: url('../photo/icon32.png');
}

.promo_onir .promo__head-title{
    color: #11BA49;
}
.promo_onir .promo__about span{
    color: #11BA49;
}
.promo_onir .proposal__title{
    color: #11BA49;
}
.promo_onir .proposal__link{
    border: 1px solid #11BA49;
    color: #11BA49;
    font-family: "Open Sans";
}
.promo_onir .proposal__link:hover{
    background-color: #11BA49;
    color: #fff;
}
.promo_onir .promo__about{
    font-family: "Open Sans";
}
.content__data{
    float: right;
    color: #989898;
    font-size:10px;
    width: 25%;
    text-align: right;
}

.content__img{
    width: 200px;
    height: 200px;
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat: no-repeat;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

.docs__item{
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    color: #2A2A2A;
    width: 150px;
    vertical-align: top;
    font-family: IntroRegular;
}

.docs__item:hover{
    background-color: #f8f8f8;
}

.docs__img{
    display: block;
    margin: 0 42px 5px;
    width: 50px;
    height: 64px;
}

.dics__name{
    font-size:14px;
    color: inherit;
}
.docs__info{
    color: inherit;
    font-size: 11px;
}

.person{
    display: inline-block;
    width: 375px;
    padding: 10px 10px 10px 45px;
    color: #2A2A2A;
    font-family: IntroLight;
    vertical-align: top;
}

.person__img{
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}
.person__info{
    float: left;
    width: 200px;
    font-size: 14px;
    padding: 20px 0;
 }
.person__name, .person__position{
    margin-bottom: 2px;
}
.person__name{
    font-size: 14px;
    font-family:IntroRegular;
}
.person .person__contact{
    padding: 0;
}
.person .person__contact li{
    display: block;
    list-style: none;
    font-size:11px;
}
