.promo{
    background: url('../photo/Bgonir.png');
    background-color: black;
    background-position: -75px 70%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: IntroLight;
}
.proposal__sub-title>div{
    margin-right: 5px;
    float: left;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.icon30{
    height: 15px;
    width: 19px;
    background-image: url('../photo/icon30.png');
}
.icon31{
    height: 21px;
    width: 14px;
    background-image: url('../photo/icon31.png');
}
.icon32{
    width: 19px;
    height: 16px;
    background-image: url('../photo/icon32.png');
}


.promo_onir .promo__head-title{
    color: #11BA49;
}
.promo_onir .promo__about span{
    color: #11BA49;
}
.promo_onir .proposal__title{
    color: #11BA49;
}
.promo_onir .proposal__link{
    border: 1px solid #11BA49;
    color: #11BA49;
    font-family: "Open Sans";
}
.promo_onir .proposal__link:hover{
    background-color: #11BA49;
    color: #fff;
}
.promo_onir .promo__about{
    font-family: "Open Sans";
}
.clearfix{
    clear: both;
}

.note{
    padding: 20px 0;
}
h2{
    color: #696969;
    font-size: 24px;
    font-family: IntroRegular;
    line-height: 30px;
    display: block;
    float: left;
}
.main-text p {
    display: inline-block;
    padding-top: 15px;
    font-family: OpenSans;
    color: #474747;
    width:600px;
}
.icon{
    padding-bottom: 120px;
    display: inline-block;
    width: 200px;
    height: 200px;
    background: url("../photo/prometei.png");
    /*background-color: #000000;*/
    border-radius: 200px;
    background-repeat: no-repeat;
}
.data{
    padding: 10px 20px;
    font-size: 10px;
    float: right;
    position:relative;
    display: block;
    color:#989898;
}
.docs{
    padding-left: 55px;
}
.docs>div {
    display: inline-block;
    text-align: center;
    margin: 20px;
}
.word .img{
    margin: auto;
    width: 50px;
    height: 64px;
    background: url("../photo/doc.png");
    background-repeat: no-repeat;
}
.pdf .img{
    margin: auto;
    width: 50px;
    height: 64px;
    background: url("../photo/pdf.png");
    background-repeat: no-repeat;
}
.file .img{
    margin: auto;
    width: 50px;
    height: 64px;
    background: url("../photo/file.png");
    background-repeat: no-repeat;
}
.img{
    padding-bottom: 15px;
}
p.important:last-child {
    font-family: IntroBold;
    line-height: 18pt;
    font-size: 13pt;
    color:#e50b38;
}
p.important{
    width: 800px;
}
.person {
    display: inline-block;
}
.person span{
    display: block;
}
.person.img{
    display: inline-block;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}