.promo{
    background: url('../photo/Bgonir.png');
    background-color: black;
    background-position: -75px 70%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: IntroLight;
}
.proposal__sub-title>div{
    margin-right: 5px;
    float: left;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.icon30{
    height: 15px;
    width: 19px;
    background-image: url('../photo/icon30.png');
}
.icon31{
    height: 21px;
    width: 14px;
    background-image: url('../photo/icon31.png');
}
.icon32{
    width: 19px;
    height: 16px;
    background-image: url('../photo/icon32.png');
}

.promo_onir .promo__head-title{
    color: #11BA49;
}
.promo_onir .promo__about span{
    color: #11BA49;
}
.promo_onir .proposal__title{
    color: #11BA49;
}
.promo_onir .proposal__link{
    border: 1px solid #11BA49;
    color: #11BA49;
    font-family: "Open Sans";
}
.promo_onir .proposal__link:hover{
    background-color: #11BA49;
    color: #fff;
}
.promo_onir .promo__about{
    font-family: "Open Sans";
}
.content__data{
    float: right;
    color: #989898;
    font-size:10px;
    width: 25%;
    text-align: right;
}

.content__img{
    width: 200px;
    height: 200px;
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat: no-repeat;
    float: right;
    margin-left: 15px;
}

.docs{
    padding-left: 55px;
}
.docs>div {
    display: inline-block;
    text-align: center;
    margin: 20px;
}
.word .img{
    margin: auto;
    width: 50px;
    height: 64px;
    background: url("../photo/doc.png");
    background-repeat: no-repeat;
}
.pdf .img{
    margin: auto;
    width: 50px;
    height: 64px;
    background: url("../photo/pdf.png");
    background-repeat: no-repeat;
}
.file .img{
    margin: auto;
    width: 50px;
    height: 64px;
    background: url("../photo/file.png");
    background-repeat: no-repeat;
}
.img{
    padding-bottom: 15px;
}

.person {
    display: inline-block;
}
.person span{
    display: block;
}
.person.img{
    display: inline-block;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}