<div class="page-title clearfix">
    <h2>
        Список новостей
        <small>
            <ul><li>Администратор</li>
                <li>/</li>
                <li>ОНИР</li>
                <li>/</li>
                <li>Пользователи</li>
              </ul>
            </small>
    </h2>
    <ul class="stats hidden-xs">
        <li class="ruby-red-bg">
            <span class="fs1" aria-hidden="true" data-icon="&#xe042;"></span>
            <div class="details">
                <span class="big">Ireland</span>
                <span class="small">Current Location</span>
            </div>
        </li>
    </ul>
</div>

<div class="widget-body">
    <div id="dt_example" class="example_alt_pagination">
        <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">
            <thead>
                <tr>
                    <th style="width:25%">id</th>
                    <th style="width:25%">Имя</th>
                    <th style="width:35%">Фамилия</th>
                    <th style="width:15%" class="hidden-phone">Логин</th>
                    <th style="width:10%" class="hidden-phone">Действия</th>
                </tr>
            </thead>
            <tbody>
                {{ list }}
{% for item in list %}

<tr class="gradeX">
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.surname }}</td>
    <td class="hidden-phone">{{ item.username }}</td>
    <td class="hidden-phone">
        <a href="#" class="actions-icons">
            <img src="img/edit-icon.png" alt="edit" class="icons">
        </a>
        <a href="#" class="delete-row" data-original-title="Delete">
            <img src="img/trash-icon.png" alt="trash">
        </a>
</td>
{% endfor %}
    </tbody>
    </table>
    <div class="clearfix"></div>
    </div>
    </div>
</div>

<script>
    $(".btn-default").click(function(e){
                $.post('/api/admin/news/remove',{
            'id':$(e.toElement).parents(".panel-info").attr('id')
        }).done(function (data) {
            var ret = JSON.parse(data);
                    $(e.toElement).parents(".panel-info").remove();
        }).fail(function(data) {
          console.log(data);
      });

    });
</script>