<div class="page-title clearfix">
    <h2>Редактор
        <small>
            <ul>
                <li>Home</li>
                <li>/</li>
                <li>Dashboard</li>
                <li>/</li>
                <li>Forms</li>
            </ul>
        </small>
    </h2>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span> Добавить Новость
                </div>
            </div>
            <div class="widget-body">
                <form class="form-horizontal" role="form" action="">
                    <div class="form-group">
                    <label for="cardHoldersName" class="col-lg-4 control-label">Заголовок</label>
                    <div class="col-lg-8">
                      <input type="text" class="form-control" id="title">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"  for="inputHelptext">Лид-абзац</label>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="7" id="lead_content"></textarea>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="wysiwyg-container">
                      <textarea id="wysiwyg" class="col-sm-12 no-margin" placeholder="Enter text ..." style="height: 140px">
                      </textarea>
                    </div>
                  </div>
                  <div class="control-group info no-margin">
                    <div class="controls  pull-right">
                      <button id="contact-submit" type="button" class="btn btn-primary" onclick="AddNews(1);">Опубликовать</button>
                      <button id="contact-submit" type="button" class="btn btn-success" onclick="AddNews(0);">Создать</button>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </form>
                <div class="row">
                    <div class="col-lg-6">
                        <form id="upload-file" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <label for="file">Выберите файл для загрузки</label>
                                <input name="file" type="file">
                            </fieldset>
                            <fieldset>
                                <button id="upload-file-btn" type="button" class="btn btn-default btn-info">Загрузить</button>
                            </fieldset>
                        </form>
                    </div>
                </div>

                <div class="row" id="imagesProduct">
            </div>
        </div>
    </div>
</div>
<script>
function getDate() {
    var d = new Date(),
    month = '' + (d.getMonth() + 1),
    day = '' + d.getDate(),
    year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [day, month, year].join('.');
}
function AddNews(value){
    $.post("/api/admin/news/add", {  "title" : $("#title").val(),
                                    "lead_content" : $("#lead_content").val(),
                                    "content": $("#wysiwyg").val(),
                                    "date":getDate(),
                                    "is_active":value,author_id:1})
    .done(function(data) {
        data = JSON.parse(data);
        console.log(data);
        var form_data = new FormData($('#upload-file')[0]);
        $.ajax({
            type: 'POST',
            url: '/api/admin/news/image/upload/' + data.news_id,
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            async: false,
            success: function(data) {
               data = JSON.parse(data);
               if(data.succeed == true)
               {
                   if(value == 0)
                       alert('Успешно добавлена новость');
                   else
                       alert('Успешно опубликована новость');
                   window.top.location.href='/admin/news/list';
               }
            }
        });
    })
    .fail(function(data) {
      console.log(data);
    });
}
</script>