<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slick Admin Forms</title>
    <meta name="author" content="Srinu">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <meta name="description" content="Slick Admin Admin UI">
    <meta name="keywords" content="Slick Admin, Admin UI, Admin Dashboard, Forms">
    
    <script src="../../static/Admin/js/html5-trunk.js"></script>
    
    <link href="../../static/Admin/icomoon/style.css" rel="stylesheet">
    <!--[if lte IE 7]>
    <script src="../../static/Admin/css/icomoon-font/lte-ie7.js"></script>
    <![endif]-->

    <!-- bootstrap css -->
    <link href="../../static/Admin/css/bootstrap.css" rel="stylesheet">

    <!-- custom css -->
    <link href="../../static/Admin/css/main.css" rel="stylesheet">

    <!-- wysiwyg css -->
    <link href="../../static/Admin/css/wysiwyg/bootstrap-wysihtml5.css" rel="stylesheet">
    <link href="../../static/Admin/css/wysiwyg/wysiwyg-color.css" rel="stylesheet">
  </head>
  <body>
  <!-- Header start -->
    <header>
      <!-- Logo start -->
      <div class="logo">
        Stud<span>NSTU</span>
      </div>
      <!-- Logo end -->
      <!-- Search bar start -->
      <div class="custom-search hidden-phone">
        <input type="text" class="search-query">
        <button> <span class="fs1" aria-hidden="true" data-icon="&#xe07f;"></span></button>
      </div>
      <!-- Search bar end -->
      <!-- Mini navigation start -->
      <div id="mini-nav" class="hidden-phone">
        <ul>
          <li>
            <a href="login.html">
              <span class="text-label">Mr. John </span><span class="fs1" aria-hidden="true" data-icon="&#xe088;"></span>
            </a>
            <ul class="user-summary">
              <li>
                <div class="summary">
                  <div class="user-pic">
                    <img src="img/avatar-1.png" alt="Slick Admin"/>
                  </div>
                  <div class="basic-details">
                    <h4 class="no-margin">Johnny</h4>
                    <h5 class="no-margin">UX Designer</h5>
                    <small>Garabandha, India</small>
                  </div>
                  <div class="profile-progress">
                    <div class="chart-progress" data-percent="68">
                      68%
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <button class="btn btn-xs btn-danger pull-right" onclick="location.href='login.html'">Logout</button>
                <span class="clearfix"></span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Mini navigation end -->
    </header>
    <!-- Header end -->
    <!-- Main Container start -->
    <div class="main-container">
      <!-- Sidebar start -->
      <div class="sidebar">
        <ul class="slick-menu">
          <li class="active">
            <a href="forms.html">
              <div class="current-page"></div>
              <span class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></span>
              <strong>Forms</strong>
            </a>
          </li>
          <li>
            <a href="gallery.html">
              <span class="fs1" aria-hidden="true" data-icon="&#xe00d;"></span>
              <strong>Gallery</strong>
            </a>
          </li>
          <li>
            <a href="login.html">
              <span class="fs1" aria-hidden="true" data-icon="&#xe088;"></span>
              <strong>Login</strong>
            </a>
          </li>
        </ul>
      </div>
      <!-- Sidebar end -->
      <!-- Dashboard wrapper start -->
      <div class="dashboard-wrapper">
        <div class="page-title clearfix">
          <h2>
            Редактор
            <small>
              <ul>
                <li>Home</li>
                <li>/</li>
                <li>Dashboard</li>
                <li>/</li>
                <li>Forms</li>
              </ul>
            </small>
          </h2>
        </div>
        <!-- Page title end -->
        <!-- Row start -->
        <div class="row">
          <div class="col-md-6">
            <div class="widget">
              <div class="widget-header">
                <div class="title">
                  <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span> Добавить Новость
                </div>
              </div>
              <div class="widget-body">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="cardHoldersName" class="col-lg-4 control-label">Заголовок</label>
                    <div class="col-lg-8">
                      <input type="text" class="form-control" id="cardHoldersName">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-4 control-label">Card Expiry Date</label>
                    <div class="col-lg-8 col-sm-12">
                      <input type="date" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-4 control-label" for="inputHelptext">Textarea</label>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="7"></textarea>
                    </div>
                  </div>

                  <div class="control-group">
                    <div class="wysiwyg-container">
                      <textarea id="wysiwyg" class="col-sm-12 no-margin" placeholder="Enter text ..." style="height: 140px">
                      </textarea>
                    </div>
                  </div>
                  <div class="control-group info no-margin">
                    <div class="controls">
                      <button id="contact-submit" type="submit" class="btn btn-primary pull-right">Send</button>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Dashboard wrapper end -->
    </div>
    <!-- Main Container end -->
    <!-- Scripts -->
    <script src="../../static/Admin/js/wysiwyg/wysihtml5-0.3.0.js"></script>
    <script src="../../static/Admin/js/jquery.min.js"></script>
    <script src="../../static/Admin/js/bootstrap.js"></script>
    <!-- Editable Inputs -->
    <script src="../../static/Admin/js/wysiwyg/bootstrap-wysihtml5.js"></script>
    <!-- Easy pie charts -->
    <script src="../../static/Admin/js/jquery.easy-pie-chart.js"></script>
    <!-- Custom Js -->
    <script src="../../static/Admin/js/wizard/bwizard.js"></script>
    <!-- custom Js -->
    <script src="../../static/Admin/js/custom-forms.js"></script>
    <script src="../../static/Admin/js/custom.js"></script>
  </body>
</html>