<header>
<!-- Logo start -->
    <div class="logo">
        Stud<span>NSTU</span>
      </div>
    <!-- Logo end -->
    <!-- Search bar start -->
    <div class="custom-search hidden-phone">
        <input type="text" class="search-query">
        <button> <span class="fs1" aria-hidden="true" data-icon="&#xe07f;"></span></button>
    </div>
      <!-- Search bar end -->
      <!-- Mini navigation start -->
    <div id="mini-nav" class="hidden-phone">
        <ul>
            <li>
            <a href="login.html">
              <span class="text-label">Mr. John </span><span class="fs1" aria-hidden="true" data-icon="&#xe088;"></span>
            </a>
            <ul class="user-summary">
              <li>
                <div class="summary">
                  <div class="basic-details">
                    <h4 class="no-margin"></h4>
                    <h5 class="no-margin">UX Designer</h5>
                    <small>Garabandha, India</small>
                  </div>
                  <div class="profile-progress">
                    <div class="chart-progress" data-percent="68">
                      68%
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <button class="btn btn-xs btn-danger pull-right" onclick="location.href='login.html'">Logout</button>
                <span class="clearfix"></span>
              </li>
            </ul>
          </li>
        </ul>
    </div>
      <!-- Mini navigation end -->
</header>