<!DOCTYPE html>

  <!--[if lt IE 7]>
    <html class="lt-ie9 lt-ie8 lt-ie7" lang="en">
  <![endif]-->

  <!--[if IE 7]>
    <html class="lt-ie9 lt-ie8" lang="en">
  <![endif]-->

  <!--[if IE 8]>
    <html class="lt-ie9" lang="en">
  <![endif]-->

  <!--[if gt IE 8]>
    <!-->
    <html lang="en">
    <!--
  <![endif]-->

  <head>
    <meta charset="utf-8">
    <title>Slick Admin</title>
    <meta name="author" content="Srinu">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <meta name="description" content="Slick Admin Admin UI">
    <meta name="keywords" content="Slick Admin, Admin UI, Dashboard, Layout, CSS3, ScSS, Bootstrap3, Admin Dashboard, Srinu">

    <script src="../../static/Admin/js/html5-trunk.js"></script>

    <link href="../../static/Admin/icomoon/style.css" rel="stylesheet">
    <!--[if lte IE 7]>
    <script src="css/icomoon-font/lte-ie7.js"></script>
    <![endif]-->
    <!-- bootstrap css -->
    <link href="../../static/Admin/css/bootstrap.css" rel="stylesheet">
    <!-- custom css -->
    <link href="../../static/Admin/css/main.css" rel="stylesheet">
    <link href="../../static/Admin/css/wysiwyg/bootstrap-wysihtml5.css" rel="stylesheet">
    <link href="../../static/Admin/css/wysiwyg/wysiwyg-color.css" rel="stylesheet">
  </head>

  <body>
    <!-- Header start -->
   {{ header | safe }}
    <!-- Header end -->

    <!-- Main Container start -->
    <div class="main-container">

      <!-- Sidebar start -->
     {{ sidebar | safe }}
      <!-- Sidebar end -->

      <!-- Dashboard wrapper start -->
      <div class="dashboard-wrapper">
          {{ page |  safe }}
      </div>
      <!-- Dashboard wrapper end -->
    
    </div>
    <!-- Main Container end -->

    <!-- Scripts -->
    <script src="../../static/Admin/js/wysiwyg/wysihtml5-0.3.0.js"></script>
    <script src="../../static/Admin/js/jquery.min.js"></script>
    <script src="../../static/Admin/js/bootstrap.js"></script>
    <!-- Editable Inputs -->
    <script src="../../static/Admin/js/wysiwyg/bootstrap-wysihtml5.js"></script>
    <!-- Easy pie charts -->
    <script src="../../static/Admin/js/jquery.easy-pie-chart.js"></script>
    <!-- Custom Js -->
    <script src="../../static/Admin/js/wizard/bwizard.js"></script>
    <!-- custom Js -->
    <script src="../../static/Admin/js/custom-forms.js"></script>
    <script src="../../static/Admin/js/custom.js"></script>

  </body>
</html>