<!DOCTYPE html>

  <!--[if lt IE 7]>
    <html class="lt-ie9 lt-ie8 lt-ie7" lang="en">
  <![endif]-->

  <!--[if IE 7]>
    <html class="lt-ie9 lt-ie8" lang="en">
  <![endif]-->

  <!--[if IE 8]>
    <html class="lt-ie9" lang="en">
  <![endif]-->

  <!--[if gt IE 8]>
    <!-->
<html lang="en">
    <!--
  <![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Slick Admin</title>
    <meta name="author" content="Srinu">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <meta name="description">
    <meta name="keywords">
    <link href="../../static/Admin/icomoon/style.css" rel="stylesheet">
    <!-- bootstrap css -->
    <link href="../../static/Admin/css/bootstrap.css" rel="stylesheet">
    <!-- custom css -->
    <link href="../../static/Admin/css/main.css" rel="stylesheet">
  </head>
  <body>
    <!-- Main Container start -->
    <div class="main-container">
      <div class="row">
        <form action="#" class="login-wrapper" method="post">
          <div class="header">
            <div class="row">
              <div class="col-md-12">
                <h3>StudNSTU</h3>
                <p>Авторизуйтесь для входа в систему</p>
              </div>
            </div>
          </div>
          <div class="content">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <input class="input col-md-12 col-sm-12 email" id="logUsername" name="" placeholder="Логин" required="required" type="text" value="">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <input class="input col-md-12 col-sm-12 password" id="logPassword" name="" placeholder="Пароль" required="required" type="password">
              </div>
            </div>
          </div>
          <div class="actions">
            <a href="#" class="btn btn-danger" onclick="submitLogin()">Войти</a>
            <div class="clearfix"></div>
          </div>
        </form>
      </div>
    </div>
    <!-- Main Container end -->
    <script src="../../static/Admin/js/jquery.min.js"></script>
    <script src="../../static/Admin/js/Auth/js.cookie.js"> </script>
    <script src="../../static/Admin/js/html5-trunk.js"></script>
    <script src="../../static/Admin/js/Auth/Auth.js"></script>
    <script>
        $(window).load(function () {
            StudNSTUOnLoad();
        })
    </script>
  </body>
</html>