<div class="sidebar">
    <ul class="slick-menu">
        <li class="drop-menu {{ news }}">
            <a href="">
                {% if news == "Activ" %}
                    <div class="current-page"></div>
                {% endif %}
                <span class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></span>
                <small>2</small>
                <strong>Новости</strong>
            </a>
            <ul>
                <li><a href="/admin/news/list"><span class="fs1" aria-hidden="true" data-icon="&#xe02d;"></span>Список</a></li>
                <li><a href="/admin/news/add"><span class="fs1" aria-hidden="true" data-icon="&#xe02d;"></span>Добавить</a></li>
            </ul>
        </li>
        <li class="drop-menu {{ pages }}">
            <a href="">
                {% if pages == "Activ" %}
                    <div class="current-page"></div>
                {% endif %}
                <span class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></span>
                <small>2</small>
                <strong>Материалы</strong>
            </a>
            <ul>
                <li><a href="/admin/pages/list"><span class="fs1" aria-hidden="true" data-icon="&#xe02d;"></span>Список</a></li>
                <li><a href="/admin/pages/add"><span class="fs1" aria-hidden="true" data-icon="&#xe0c9;"></span>Добавить</a></li>
            </ul>
        </li>
        <li class="drop-menu {{ sidebar }}">
            <a href="">
                {% if sidebar == "Activ" %}
                    <div class="current-page"></div>
                {% endif %}
                <span class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></span>
                <small>2</small>
                <strong>Категории раздела</strong>
            </a>
            <ul>
                <li><a href="/admin/sidebar_menus/list"><span class="fs1" aria-hidden="true" data-icon="&#xe02d;"></span>Список</a></li>
                <li><a href="/admin/sidebar_menus/add"><span class="fs1" aria-hidden="true" data-icon="&#xe0c9;"></span>Добавить</a></li>
            </ul>
        </li>
        <li class="drop-menu {{ users }}">
            <a href="">
                {% if users == "Activ" %}
                    <div class="current-page"></div>
                {% endif %}
                <span class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></span>
                <small>2</small>
                <strong>Фотогалереи</strong>
            </a>
            <ul>
                <li><a href=""><span class="fs1" aria-hidden="true" data-icon="&#xe02d;"></span>Список</a></li>
                <li><a href=""><span class="fs1" aria-hidden="true" data-icon="&#xe0c9;"></span>Добавить</a></li>
            </ul>
        </li>
            <li class="drop-menu {{ users }}">
            <a href="">
                {% if users == "Activ" %}
                    <div class="current-page"></div>
                {% endif %}
                <span class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></span>
                <small>2</small>
                <strong>Cобытия</strong>
            </a>
            <ul>
                <li><a href="/admin/events/list"><span class="fs1" aria-hidden="true" data-icon="&#xe02d;"></span>Список</a></li>
                <li><a href="/admin/events/add"><span class="fs1" aria-hidden="true" data-icon="&#xe0c9;"></span>Добавить</a></li>
            </ul>
        </li>
        <li class="drop-menu {{ users }}">
            <a href="">
                {% if users == "Activ" %}
                    <div class="current-page"></div>
                {% endif %}
                <span class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></span>
                <small>2</small>
                <strong>Пользователи</strong>
            </a>
            <ul>
                <li><a href="/admin/users/list"><span class="fs1" aria-hidden="true" data-icon="&#xe02d;"></span>Список</a></li>
                <li><a href="/admin/users/add"><span class="fs1" aria-hidden="true" data-icon="&#xe0c9;"></span>Добавить</a></li>
            </ul>
        </li>
        <li>
            <a href="login.html">
              <span class="fs1" aria-hidden="true" data-icon="&#xe088;"></span>
              <strong>Login</strong>
            </a>
        </li>
    </ul>
</div>