<div class="sidebar">
    <ul class="slick-menu">
        <li class="active">
            <a href="/admin/news/list">
                <div class="current-page"></div>
                <span class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></span>
                <strong>Список Новостей</strong>
            </a>
        </li>
        <li>
            <a href="/admin/news/add">
              <span class="fs1" aria-hidden="true" data-icon="&#xe00d;"></span>
              <strong>Добавить Новость</strong>
            </a>
        </li>
        <li>
            <a href="/admin/pages/add">
              <span class="fs1" aria-hidden="true" data-icon="&#xe088;"></span>
              <strong>Добавить материал</strong>
            </a>
        </li>
        <li>
            <a href="login.html">
              <span class="fs1" aria-hidden="true" data-icon="&#xe088;"></span>
              <strong>Список материалов</strong>
            </a>
        </li>
        <li>
            <a href="login.html">
              <span class="fs1" aria-hidden="true" data-icon="&#xe088;"></span>
              <strong>Login</strong>
            </a>
        </li>
    </ul>
</div>