<div class="page-title clearfix">
    <h2>Редактор

    </h2>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span>
                    {% if action=="create" %}
                    Добавить
                    {% elif action=="edit" %}
                    Редактировать
                    {% endif %}
                    Новость
                </div>
            </div>
            <div class="widget-body">
                <form class="form-horizontal" role="form" action="">
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="new-item__site">Выберите раздел сайта</label>
                        <div class="col-lg-8">
                          <select class="form-control" id="new-item__site">
                            {% for item in sites %}
                                    <option value="{{ item.id }}"
                                        {% if action=="edit" %}
                                            {% if item.id==object.sidebar_id %}
                                                selected
			                                {% endif %}
                                        {% endif %}
                                        >
                                    {{ item.title }}
                                </option>
                            {% endfor %}
                          </select>
                        </div>
                    </div>
                    <div class="form-group">
                    <label for="cardHoldersName" class="col-lg-4 control-label">Заголовок</label>
                    <div class="col-lg-8">
                      <input type="text" class="form-control" id="title">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"  for="inputHelptext">Лид-абзац</label>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="7" id="lead_content"></textarea>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-12">
                        <textarea class="wysiwyg" id="content" rows="20"></textarea>
                        <input name="image" type="file" id="upload" style="display:none" onchange="">
                    </div>
                  </div>
                  <div class="control-group info no-margin">
                    <div class="controls  pull-right">
                        {% if action=='create' %}
                          <button id="contact-submit" type="button" class="btn btn-primary" onclick="addNews(1);">Опубликовать</button>
                          <button id="contact-submit" type="button" class="btn btn-success" onclick="addNews(0);">Создать</button>
                        {% elif action=='edit' %}
                          <button id="contact-submit" type="button" class="btn btn-success" onclick="edit();">Сохранить</button>
                        {% endif %}
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </form>
              {% if action=='create' %}
                <div class="row">
                    <div class="col-lg-6">
                        <form id="upload-file" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <label for="file">Выберите файл для загрузки</label>
                                <input name="file" type="file">
                            </fieldset>
                        </form>
                    </div>
                </div>
              {% endif %}
            </div>
        </div>
    </div>
</div>

<script src="/static/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/static/tinymce/js/tinymce/tinymce_config.js" type="text/javascript" language="javascript"></script>
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script>


function getDate() {
    var d = new Date(),
    month = '' + (d.getMonth() + 1),
    day = '' + d.getDate(),
    year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [day, month, year].join('.');
}
{% if action =='create' %}
function addNews(value) {
    $.post("/api/admin/news/add", {
        "title": $("#title").val(),
        "lead_content": $("#lead_content").val(),
        "content": tinyMCE.get('content').getContent(),
        "date": getDate(),
        "is_active": value, "author_id": 1,
        "site_id": $("#new-item__site").val()

    })
            .done(function (data) {
                data = JSON.parse(data);
                var form_data = new FormData($('#upload-file')[0]);
                $.ajax({
                    type: 'POST',
                    url: '/api/admin/news/image/upload/' + data.news_id,
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    async: false,
                    success: function (data) {
                        data = JSON.parse(data);
                        if (data.succeed == true) {
                            if (value == 0)
                                toastr.success('Успешно добавлена новость');
                            else {
                                toastr.success('Успешно опубликована новость');
                                window.top.location.href = '/admin/news/list';
                            }
                        }
                    }
                });
            })
            .fail(function (data) {
                toastr.error('Произогла ошибка попробуйте позже');
            });
}
{% elif action=='edit' %}
    window.onload = function(e) {
        var obj ={{object | safe}};
        $("#title").val(obj.title);
        $("#lead_content").val(obj.lead_content);
        tinymce.activeEditor.setContent(obj.content);
    }
    function edit() {
        $.post('/api/admin/news/change', {
            "title": $("#title").val(),
            "lead_content": $("#lead_content").val(),
            "content": tinymce.activeEditor.getContent(),
            "date": getDate(),
            "id": {{ id }}
        }).done(function (e) {
            var result=JSON.parse(e);
            if (result.succeed==true)
                toastr.success('Новость изменена');
            else toastr.error('Произошла ошибка повторите попытку позже')
        })
    }
{% endif %}
</script>