<div class="page-title clearfix">
    <h2>
        Список новостей
        <small>
            <ul><li>Администратор</li>
                <li>/</li>
                <li>ОНИР</li>
                <li>/</li>
                <li>Новости</li>
              </ul>
            </small>
    </h2>
</div>

{% for item in lists %}
    <div class="row">
        <div class="col-md-7">
            <div id="{{ item.id }}" class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ item.title }} <a href="#" class="pull-right" data-toggle="tooltip" data-placement="top" title="Edit">
                      <i class="fa fa-pencil"></i>
                    </a></h3>
                </div>
                <div class="panel-body">
                  {{ item.lead_content }}
                </div>
                <div class="panel-footer">
                    <div class="widget-body right-align-text">
                        <div class="btn-group">
                           <a href="/admin/news/edit/{{ item.id }}" class="btn btn-info">Править</a>
                           <button type="button" class="btn btn-primary">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}


<script>
    $(".btn-primary").click(function(e){
        $.post('/api/admin/news/remove',{
            'id':$(e.toElement).parents(".panel-info").attr('id')
        }).done(function (data) {
            var ret = JSON.parse(data);
            $(e.toElement).parents(".panel-info").remove();
            toastr.success("Запись успешно удалена");

        }).fail(function(data) {
          toastr.error('Произошла ошибка, попробуйте позже', 'Ошибка!')
      });
    });
</script>