
<script src="/static/js/vendor.js"></script>
<link rel="stylesheet" href="/static/css/formbuilder-min.css" />
<link rel="stylesheet" href="/static/css/vendor.css" />
<script src="/static/js/formbuilder-min.js"></script>
<div class="row">
    <div id="formTest"></div>
</div>
<div class="row">
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="addForm()">Добавить форму</button>
</div>
<br>
<br>
<script>
    var formbuilder = new Formbuilder({ selector: '#formTest' });
    var tempData = null;
    formbuilder.on('save', function(payload){
       tempData = payload;
    });
    function addForm() {
        $.post("/api/admin/form/add",{"data":tempData})
        .done(function (data) {
            console.log(data);
        })
        .fail(function () {
            console.log('fail shit');
        });
        console.log(formbuilder.save());
    }
</script>
{#<div class="row">#}
{#  <div class="col-md-6">#}
{#    <div class="widget">#}
{#      <div class="widget-header">#}
{#        <div class="title">#}
{#          <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span> Добавить Форму#}
{#        </div>#}
{#          </div>#}
{#          <div class="widget-body">#}
{#            <form class="form-horizontal" role="form">#}
{#              <div class="form-group">#}
{#                <label for="cardHoldersName" class="col-lg-2 control-label">Заголовок</label>#}
{#                <div class="col-lg-10">#}
{#                  <input type="text" class="form-control" id="cardHoldersName">#}
{#                </div>#}
{#              </div>#}
{#              <div class="form-group">#}
{#                <label class="col-lg-2 control-label" for="inputHelptext">Описание</label>#}
{#                <div class="col-lg-10">#}
{#                    <textarea class="form-control" rows="7"></textarea>#}
{#                </div>#}
{#              </div>#}
{#                <div class="form-group">#}
{#                    <div class="col-lg-9"></div>#}
{#                    <div class="col-lg-3">#}
{#                        <button class="btn btn-success">Добавить форму</button>#}
{#                    </div>#}
{#                </div>#}
{#            </form>#}
{#          </div>#}
{#        </div>#}
{#  </div>#}
{#    <div class="col-md-6">#}
{#    <div class="widget">#}
{#      <div class="widget-header">#}
{#        <div class="row">#}
{#            <div class="col-lg-6">#}
{#                <div class="title">#}
{#                  <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span> Редактирование#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-lg-6">#}
{#                <div class="btn-group">#}
{#                    <button class="btn btn-success">Добавить раздел</button>#}
{#                    <button class="btn btn-danger">Удалить последний раздел</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#      </div>#}
{##}
{#      <div class="widget-body" id="formRedact">#}
{#          <div class="widget">#}
{#              <div class="widget-header">#}
{#                <div class="col-lg-4">#}
{#                    <div class="title">#}
{#                      <span class="fs1" aria-hidden="true" data-icon=""></span>Пункт формы#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-8">#}
{#                    <div class="btn-group" role="group" aria-label="...">#}
{#                      <button type="button" class="btn btn-success">Скопировать текущий</button>#}
{#                      <button type="button" class="btn btn-danger">Удалить </button>#}
{##}
{#                      <div class="btn-group" role="group">#}
{#                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                          Тип пункта#}
{#                          <span class="caret"></span>#}
{#                        </button>#}
{#                        <ul class="dropdown-menu">#}
{#                          <li><a href="#">Текст (строка)</a></li>#}
{#                          <li><a href="#">Текст (абзац)</a></li>#}
{#                          <li role="separator" class="divider"></li>#}
{#                          <li><a href="#">Один из списка</a></li>#}
{#                          <li><a href="#">Несколько из списка</a></li>#}
{#                          <li><a href="#">Раскрывающийся список</a></li>#}
{#                        </ul>#}
{#                      </div>#}
{#                    </div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="widget-body">#}
{#                <form class="form-horizontal" role="form">#}
{#                  <div class="form-group">#}
{#                    <label for="cardHoldersName" class="col-lg-2 control-label">Заголовок</label>#}
{#                    <div class="col-lg-10">#}
{#                      <input type="text" class="form-control" id="cardHoldersName">#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="form-group">#}
{#                    <div class="row">#}
{#                        <label class="col-lg-2 control-label" for="inputHelptext">Описание</label>#}
{#                        <div class="col-lg-8">#}
{#                            <input type="text" class="form-control" id="cardHoldersName">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <select>#}
{#                          <option>Пункт 1</option>#}
{#                          <option>Пункт 2</option>#}
{#                        </select>#}
{#                    </div>#}
{##}
{#                  </div>#}
{#                </form>#}
{#              </div>#}
{#          </div>#}
{#          <div class="widget">#}
{#              <div class="widget-header">#}
{#                <div class="title">#}
{#                  <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span> Редактирование#}
{#                </div>#}
{#                  </div>#}
{#                  <div class="widget-body">#}
{#                    <form class="form-horizontal" role="form">#}
{#                      <div class="form-group">#}
{#                        <label for="cardHoldersName" class="col-lg-2 control-label">Заголовок</label>#}
{#                        <div class="col-lg-10">#}
{#                          <input type="text" class="form-control" id="cardHoldersName">#}
{#                        </div>#}
{#                      </div>#}
{#                      <div class="form-group">#}
{#                        <label class="col-lg-2 control-label" for="inputHelptext">Описание</label>#}
{#                        <div class="col-lg-10">#}
{#                            <textarea class="form-control" rows="7"></textarea>#}
{#                        </div>#}
{#                      </div>#}
{#                    </form>#}
{#                  </div>#}
{#            </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
<script>
    var html = "";
</script>