<div class="widget">
  <div class="widget-header">
    <div class="title">
      <span class="fs1" aria-hidden="true" data-icon="&#xe04d;"></span> Horizontal form
    </div>
  </div>
  <div class="widget-body">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-lg-2 control-label" for="new-item__name">Название раздела:</label>
        <div class="col-lg-10">
          <input type="Text" class="form-control" placeholder="Новый пункт" id="new-item__name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label" for="new-item__link">Ссылка на раздел:</label>
        <div class="col-lg-10">
          <input type="Text" class="form-control" placeholder="/" id="new-item__link">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label" for="new-item__parent">Родительский раздел:</label>
        <div class="col-lg-10">
          <select class="form-control" id="new-item__parent">
              <option value="0">Нет родительского раздела</option>
              {% for item in list %}
			    <option value="{{ item.id }}">{{ item.name }}</option>
              {% endfor %}
		  </select>
        </div>
      </div>
        <div class="form-group">
            <label for="birthDate" class="col-sm-2 control-label" for="new-item__number">Порядковый номер</label>
            <div class="col-sm-10">
                <div class="btn-group">
                    <select class="form-control" id="new-item__number">
                      {% for item in range(1,count) %}
                        <option value="{{ item }}">{{ item }}</option>
                      {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="sidebar-menu-preview col-sm-10 col-sm-offset-2">
            <ul class="sidebar-menu">
              <li class="sidebar-menu__item" id="new-item"><a href="/" class="sidebar-menu__link">Новый пункт</a></li>
              {% for item in list %}
                  <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">{{ item.name }}</a>
                    <ul class="sidebar-menu__second-level">
                        {% for itm in sub_list %}
                            {% if item.id == itm.dropdown_id %}
                                <li class="sidebar-menu__item"><a href="" class="sidebar-menu__link">{{ itm.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                  </li>
              {% endfor %}
		  </ul>
        </div>
        </div>
        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-success">Sign in</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
	(function(){
		var $newItem__link = $('#new-item__link'),
			$newItem__name = $('#new-item__name'),
			$newItem__number = $('#new-item__number'),
			$newItem__parent = $('#new-item__parent');
		var newItem = new function(){
			this.body = $('#new-item');
			this.link = $('#new-item a');
			this.parent = this.body.parent();
		};
		var second_level = null;
		
		$newItem__name.change(function(){
			newItem.link.text($newItem__name.val());
		});
		$newItem__link.change(function(){
			newItem.link.attr('href', $newItem__link.val());
		});
		$newItem__number.change(function(e){
			newItem.body.detach();
			var n = +e.target.value - 1;
			if(n === newItem.parent.children().length)
				newItem.body.appendTo(newItem.parent);
			else
				newItem.body.insertBefore($(newItem.parent.children()[n]));
		});
		$newItem__parent.change(function(){
			var n = +$newItem__parent.val();
			newItem.body.detach();
			if(n === 0){
				oldList($('.sidebar-menu'));
				second_level = null;
			} else {
				n--;
				if( second_level !== null){
					second_level = $($('.sidebar-menu').children()[n]);
				} else {
					second_level = $(newItem.parent.children()[n]);
				}
				
				if(!second_level.hasClass('sidebar-menu__item_share')){
					second_level.addClass('sidebar-menu__item_share');
					second_level.append('<ul class="sidebar-menu__second-level"></ul>');
					newItem.parent = second_level.children('.sidebar-menu__second-level');
					newItem.parent.append(newItem.body);
					$newItem__number.empty();
					$newItem__number.append('<option value="1">1</option>');
				} else {
					oldList(second_level.children('.sidebar-menu__second-level'));
				}
			}
		});
		
		function oldList(parentList){
			newItem.parent = parentList;
			newItem.parent.append(newItem.body);
			$newItem__number.empty();
			for(var i = 1; i <= newItem.parent.children('li').length; i++){
				$newItem__number.append('<option value="'+ i +'">' + i + '</option>');
			}
			$newItem__number.val(newItem.parent.children('li').length);
		}
	})();
	
</script>

