<footer>
    <div class="wrapper">
        <div class="adress">Россия 630073, Новосибирск проспект К.Маркса, 20 корпус 1, к. 108 телефон: 8 (383) 3461562 эл.почта: stud@nstu.ru</div>
        <div class="info">&copy; 2005-2017, <a href="https://nstu.ru"> Новосибирский государственный технический университет.</a> Свидетельство о регистрации: СМИ Эл № ФС77-45108 от 18 мая 2011 г. Выдано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор)</div>
    </div>
</footer>