<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
    <title>JS Bin</title>
    <link href="../static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="../static/css/output.css" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <link href="../static/css/output.css" rel="stylesheet" type="text/css">
    <link href="../static/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="../static/css/garage.css" rel="stylesheet" type="text/css">
    <link href="../static/css/gallery.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
      <div class="wrapper">
          <div class="logo">
              <img src="../static/img/logo.png" alt="">
              <h1>Новосибирский Государственный Технический Университет</h1>
          </div>
          <nav>
              <ul class="main-nav">
                  <li class="main-nav__item">
                      <a href="/" class="main-nav__link">НАУКА</a>
                  </li>
                  <li class="main-nav__item">
                      <a href="/garage" class="main-nav__link">СПОРТ</a>
                  </li>
                  <li class="main-nav__item">
                      <a href="/culture" class="main-nav__link">КУЛЬТУРА</a>
                  </li>
                  <li class="main-nav__item">
                      <a class="main-nav__link">ОБЩЕСТВЕННАЯ ЖИЗНЬ</a>
                  </li>
                  <li class="main-nav__item">
                      <a class="main-nav__link">ЗДОРОВЬЕ</a>
                  </li>
              </ul>
              <ul class="sub-nav">
                  <li class="sub-nav__item">
                      <a href="/schedule" class="sub-nav__link">РАСПИСАНИЯ</a>
                  </li>
                  <li class="sub-nav__item">
                      <a href="/map" class="sub-nav__link">3D-НГТУ</a>
                  </li>
                  <li class="sub-nav__item">
                      <a href="/om" class="sub-nav__link">ТРУДОУСТРОЙСТВО</a>
                  </li>
                  <li class="sub-nav__item">
                      <a class="sub-nav__link">МАГАЗИН</a>
                  </li>
              </ul>
          </nav>
          <ul class="social">
              <li class="vk social__item"><a class="social__link">vk</a></li>
              <li class="ok social__item"><a class="social__link">ok</a></li>
              <li class="facebook social__item"><a class="social__link">fb</a></li>
          </ul>
      </div>
  </header>
  <main class="clearfix">
      <div class="promo promo_garage">
          <div class="wrapper">
              <div class="promo__title">
                  <div class="promo__background"></div>
                  <div class="promo__question">Есть интересные <br />  идеи но нет возможности реализовать все одному?</div>
                  <h1 class="promo__head-title">
                      <small>Бизнес-инкубатор</small>Гараж
                  </h1>
                  <div class="promo__subtitle">прокачает твой <br /> проект</div>
              </div>
              <div class="promo__info">
                  <p class="promo__about">
                        <span>Гараж это</span>
                    исполнительный орган по развитию и
                    координации научно-технической работы студентов и
                    созданию новых университетских традиций.
                  </p>
                  <a class="resident">Стать резидентом</a>
                  <div class="proposal">
                        <h3 class="proposal__title">Наши образовательные проекты:</h3>
                        <ul class="proposal__list">
                            <div class="proposal__item">
                                <div class="proposal__sub-title"><div class="icon30"></div>Интернет-предпринимательство</div>
                                <a href="" class="proposal__link">Подробнее</a>
                            </div>
                            <div class="proposal__item">
                                <div class="proposal__sub-title"><div class="icon31"></div>Управление инновациями</div>
                                <a href="" class="proposal__link">Подробнее</a>
                            </div>
                        </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="content">
          <div class="wrapper">
              <div class="sidebar">
                  <ul class="sidebar-menu">
                      <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Новости</a></li>
                      <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Как стать резидентом</a></li>
                      <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Клуб СБИ Гараж</a></li>
                      <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">ТехноЛаб</a></li>
                      <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Галерея</a></li>
                      <li class="sidebar-menu__item sidebar-menu__item_share">
                          <a href="#" class="sidebar-menu__link">Образовательные проекты</a>
                          <ul class="sidebar-menu__second-level">
                              <li class="sidebar-menu__item"><a href="" class="sidebar-menu__link">Интернет-предпринимательство</a></li>
                              <li class="sidebar-menu__item"><a href="" class="sidebar-menu__link">Управление иновациями</a></li>
                          </ul>
                      </li>
                  </ul>
                  <div class="events">
                      <a href="#" class="events__item">
                          <img class="events__img" src="../static/photo/nstu.jpg"></img>
                          <p class="events__title">Дни открытых дверей НГТУ</p>
                      </a>
                      <a href="#" class="events__item">
                          <img class="events__img" src="../static/photo/nstu.jpg"></img>
                          <p class="events__title">Дни открытых дверей НГТУ</p>
                      </a>
                      <div class="events__more">
                         <a href="">больше мероприятий и акций</a>
                      </div>
                  </div>

              </div>
              <div class="main-content">
                  <div class="gallery">
                    <div class="gallery-head">
                        <div class="gallery-title clearfix">
                            <div class="gallery-title-text">
                                Студвесна 2017 wdwef dwxwxdw wss wsqsq wqdddddddd
                            </div>
                            <div class="gallery-title-date">
                                Опубликовано 21.06.2016
                            </div>
                        </div>
                        <p class="gallery-title-body-text">Приглашаем на работу водителей такси с л/а и на наше авто. Быстрое подключение к программам "Яндекс", "Uber", "Gett". Так же для наших водителей действуют специальные условия для подключения к лидирующим таксомоторным компаниям города "Лидер", "Максим", "Атлас", "Гранд"</p>
                        <p class="gallery-title-body-text">Приглашаем на работу водителей такси с л/а и на наше авто. Быстрое подключение к программам "Яндекс", "Uber", "Gett".</p>
                        <div class="gallery-social clearfix">
                            <p class="gallery-title-body-text">
                                Вы также можете посмотреть фотоотчет в социальных сетях
                            </p>
                            <ul class="social">
                              <li class="vk social__item"><a class="social__link">vk</a></li>
                              <li class="ok social__item"><a class="social__link">ok</a></li>
                              <li class="facebook social__item"><a class="social__link">fb</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="gallery-content">
                      <div style="background-image: url('../static/img/gallery/1.png')" class="gallery__img"></div>
                      <div style="background-image: url('../static/img/gallery/2.png')" class="gallery__img"></div>
                      <div style="background-image: url('../static/img/gallery/3.png')" class="gallery__img"></div>
                      <div style="background-image: url('../static/img/gallery/4.png')" class="gallery__img"></div>
                      <div style="background-image: url('../static/img/gallery/5.png')" class="gallery__img"></div>
                      <div style="background-image: url('../static/img/gallery/6.png')" class="gallery__img"></div>
                      <div style="background-image: url('../static/img/gallery/7.png')" class="gallery__img"></div>
                      <div style="background-image: url('../static/img/gallery/8.png')" class="gallery__img"></div>
                      <div style="background-image: url('../static/img/gallery/9.png')" class="gallery__img"></div>
                      <div style="background-image: url('../static/img/gallery/10.png')" class="gallery__img"></div>
                      <div style="background-image: url('../static/img/gallery/11.png')" class="gallery__img"></div>
                      <div style="background-image: url('../static/img/gallery/11.png')" class="gallery__img"></div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </main>
  <footer>
    <div class="wrapper">
        <div class="adress">Россия 630073, Новосибирск проспект К.Маркса, 20 корпус 2а, к. 206. телефон: 8 (383) 346 11 21 эл.почта: stud@nstu.ru</div>
        <div class="info">&copy; 2005-2017, Новосибирский государственный технический университет, Студенческий пресс-центр. Свидетельство о регистрации: СМИ Эл № ФС77-45108 от 18 мая 2011 г. Выдано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор)</div>
    </div>
</footer>
  <script src="../static/js/jquery-3.1.1.min.js"></script>
  <script>
      (function () {
    function createGalleryLine($wrapper, $children){
        var $parent = $(document.createElement('div'));
        $parent.addClass('gallery__row-img');

        for(var i=0,j=1; ;i+=2,j+=2){
            if($children[i]===undefined) {
                $wrapper.append($parent);
                return;
            }
            if($children[j]===undefined){
                var $el = $(document.createElement('a'));
                $el.addClass('gallery__big-img');
                $el.append($children[i]);
                $el.appendTo($parent);
                delete $children[i];
                continue;
            }

            var $el1 = $(document.createElement('a'));
            var $el2 = $(document.createElement('a'));
            $el1.addClass('gallery__small-img');
            $el2.addClass('gallery__small-img');

            $el1.append($children[i]);
            $el2.append($children[j]);

            var $box = $(document.createElement('div'));
            $box.addClass('gallery__img-box');
            $box.append($el1);
            $box.append($el2);

            $box.appendTo($parent);
            delete $children[i];
            delete $children[j];
        }
    }

    var $images = $('.gallery__img');
    var $wrapper = $('.gallery-content');

    $images.detach();
    console.log("1");

    while ($images.length > 0){
        var $insert = $images.splice(0,7);
        createGalleryLine($wrapper, $insert);
    }

    var $galleryRows = $('.gallery__row-img');
    function setGalleryHeight() {
        $galleryRows.height($galleryRows.width() * 0.2865);
    }

    setGalleryHeight();

    $(window).resize(function () {
       setGalleryHeight();
    });
})();

  </script>
</body>
</html>
