<header>
    <div class="wrapper">
        <div class="logo">
            <a href="/">
            <img src="../static/img/logo.png" alt="">
            <h1>Новосибирский Государственный Технический Университет</h1>
                </a>
        </div>
        <nav>
            <ul class="main-nav">
                {% for item in nav %}
                <li class="main-nav__item">
                    <a href="/{{ item.id }}" class="main-nav__link">{{ item.title }}</a>
                </li>
                {% endfor %}
{#                <li class="main-nav__item">#}
{#                    <a href="/dev" class="main-nav__link">СПОРТ</a>#}
{#                </li>#}
{#                <li class="main-nav__item">#}
{#                    <a href="/culture" class="main-nav__link">КУЛЬТУРА</a>#}
{#                </li>#}
{#                <li class="main-nav__item">#}
{#                    <a href="/dev" class="main-nav__link">ОБЩЕСТВЕННАЯ ЖИЗНЬ</a>#}
{#                </li>#}
{#                <li class="main-nav__item">#}
{#                    <a href="/dev" class="main-nav__link">ЗДОРОВЬЕ</a>#}
{#                </li>#}
            </ul>
            <ul class="sub-nav">
                <li class="sub-nav__item">
                    <a href="/schedule" class="sub-nav__link">РАСПИСАНИЕ</a>
                </li>
                <li class="sub-nav__item">
                    <a href="/3d-nstu" class="sub-nav__link">3D-НГТУ</a>
                </li>
                <li class="sub-nav__item">
                    <a href="/om" class="sub-nav__link">ТРУДОУСТРОЙСТВО</a>
                </li>
{#                <li class="sub-nav__item">#}
{#                    <a class="sub-nav__link">МАГАЗИН</a>#}
{#                </li>#}
            </ul>
        </nav>
        <ul class="social">
            <li class="vk social__item"><a href="https://vk.com/nstu_vk" class="social__link">vk</a></li>
            <li class="ok social__item"><a href="https://twitter.com/nstu_news" class="social__link">t</a></li>
            <li class="facebook social__item"><a href="https://vk.com/nstu_vk" class="social__link">fb</a></li>
        </ul>
    </div>
</header>