<header>
    <div class="wrapper">
        <div class="logo">
            <img src="../static/img/logo.png" alt="">
            <h1>Новосибирский Государственный Технический Университет</h1>
        </div>
        <nav>
            <ul class="main-nav">
                <li class="main-nav__item">
                    <a href="/science" class="main-nav__link">НАУКА</a>
                </li>
                <li class="main-nav__item">
                    <a href="/garage" class="main-nav__link">СПОРТ</a>
                </li>
                <li class="main-nav__item">
                    <a href="/culture" class="main-nav__link">КУЛЬТУРА</a>
                </li>
                <li class="main-nav__item">
                    <a class="main-nav__link">ОБЩЕСТВЕННАЯ ЖИЗНЬ</a>
                </li>
                <li class="main-nav__item">
                    <a class="main-nav__link">ЗДОРОВЬЕ</a>
                </li>
            </ul>
            <ul class="sub-nav">
                <li class="sub-nav__item">
                    <a href="/schedule" class="sub-nav__link">РАСПИСАНИЯ</a>
                </li>
                <li class="sub-nav__item">
                    <a href="/map" class="sub-nav__link">3D-НГТУ</a>
                </li>
                <li class="sub-nav__item">
                    <a href="/om" class="sub-nav__link">ТРУДОУСТРОЙСТВО</a>
                </li>
{#                <li class="sub-nav__item">#}
{#                    <a class="sub-nav__link">МАГАЗИН</a>#}
{#                </li>#}
            </ul>
        </nav>
        <ul class="social">
            <li class="vk social__item"><a class="social__link">vk</a></li>
            <li class="ok social__item"><a class="social__link">ok</a></li>
            <li class="facebook social__item"><a class="social__link">fb</a></li>
        </ul>
    </div>
</header>