<div class="promo promo_health">
    <div class="wrapper">
        <div class="promo__title">
            <div class="promo__question">Не знаешь где провести свободное время или как организовать свой досуг?</div>
            <div class="promo__subtitle_top">Раздел</div>
            <h1 class="promo__head-title"><a href="/onirs">Здоровье</a></h1>
            <div class="promo__subtitle">Поможет в этом</div>
        </div>
{#        <div class="promo__info">#}
{#            <p class="promo__about">#}
{#                Общ. Жизнь это информационный раздел. Он включает, афиши, интересные городские события и новости.#}
{#            </p>#}
{#            <div class="proposal">#}
{#                <h3 class="proposal__title">Здесь вы найдете:</h3>#}
{#                <div class="proposal__list">#}
{#                    <div class="proposal__item">#}
{#                        <div class="proposal__sub-title">Фотоотчеты событий</div>#}
{#                        <div class="proposal__sub-info">Просматривайте фотоматериалы с прощедших событий</div>#}
{#                        <a href="" class="proposal__link">Подробнее</a>#}
{#                    </div>#}
{#                    <div class="proposal__item">#}
{#                        <div class="proposal__sub-title">События университета</div>#}
{#                        <div class="proposal__sub-info">Узнайте что интересного пройдет в университете в ближайшие дни</div>#}
{#                        <a href="" class="proposal__link">Подробнее</a>#}
{#                    </div>#}
{#                    <div class="proposal__item">#}
{#                        <div class="proposal__sub-title">Совет старост</div>#}
{#                        <div class="proposal__sub-info">Примите активное участие в студенческой общественной жизни</div>#}
{#                        <a href="" class="proposal__link">Подробнее</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
</div>

<div class="content">
    <div class="wrapper clearfix">
        <div class="main-content">
           <p>НГТУ социально-ответственный университет, поэтому у студентов есть возможность хорошо отдохнуть и пройти санаторное лечение.</p>
            <p><strong>Санаторий-профилакторий НГТУ</strong> находится во втором общежитии. Студент вечно торопится и редко следит за своим здоровьем, всегда найдутся причины не пойти вовремя к врачу. Здорово что у НГТУ есть При наличии путевки и санаторно-курортной карты в соответствии с диагнозом санаторий-профилакторий для студентов и сотрудников НГТУ может предоставить следующие услуги:</p>
            <ul>
                <li>&nbsp;Услуги процедурного кабинета</li>
                <li>&nbsp;Электро-светолечение</li>
                <li>&nbsp;Стоматология терапевтическая</li>
                <li>&nbsp;Неврология</li>
                <li>&nbsp;Лазеротерапия</li>
                <li>&nbsp;Лечебные ванны и души (Шарко, циркулярный, восходящий)</li>
                <li>&nbsp;Озокерито-парафинотерапия</li>
                <li>&nbsp;Лечебный массаж</li>
                <li>&nbsp;Гидромассаж</li>
                <li>&nbsp;Диетическое питание</li>
            </ul>
            <p><strong>Спортивно-оздоровительный лагерь &laquo;Шарап&raquo;</strong> расположен в 90 км от Новосибирска на берегу Обского водохранилища. Предоставляется весь комплекс традиционных загородных развлечений: в лагере есть волейбольные и баскетбольные площадки, столы для пинг-понга, пирс, снаряжение для плавания, виндсерфинга, гребли, прогулок на катамаранах.</p>
            <p><strong>Горно-спортивный лагерь и одновременно база отдыха &laquo;Эрлагол&raquo;</strong> находится в Горном Алтае, на левом берегу реки Чемал (приток Катуни), в километре выше слияния его с Кубой, рядом с Кузлинской поляной. Место очень живописное: долина, со всех сторон окруженная горами, поросшими лесом.</p>
            <p>Подробности на <a href="http://www.nstu.ru/sport">сайте</a> .</p>
        </div>
    </div>
</div>
