<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
    <title>JS Bin</title>
    <link href="../static/css/allstyles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
      <div class="wrapper">
          <div class="logo">
              <img src="../static/img/logo.png" alt="">
              <h1>Новосибирский Государственный Технический Университет</h1>
          </div>
          <nav>
              <ul class="main-nav">
                  <li class="main-nav__item">
                      <a href="/" class="main-nav__link">НАУКА</a>
                  </li>
                  <li class="main-nav__item">
                      <a href="/garage" class="main-nav__link">СПОРТ</a>
                  </li>
                  <li class="main-nav__item">
                      <a href="/culture" class="main-nav__link">КУЛЬТУРА</a>
                  </li>
                  <li class="main-nav__item">
                      <a class="main-nav__link">ОБЩЕСТВЕННАЯ ЖИЗНЬ</a>
                  </li>
                  <li class="main-nav__item">
                      <a class="main-nav__link">ЗДОРОВЬЕ</a>
                  </li>
              </ul>
              <ul class="sub-nav">
                  <li class="sub-nav__item">
                      <a href="/schedule" class="sub-nav__link">РАСПИСАНИЯ</a>
                  </li>
                  <li class="sub-nav__item">
                      <a href="/map" class="sub-nav__link">3D-НГТУ</a>
                  </li>
                  <li class="sub-nav__item">
                      <a href="/om" class="sub-nav__link">ТРУДОУСТРОЙСТВО</a>
                  </li>
                  <li class="sub-nav__item">
                      <a class="sub-nav__link">МАГАЗИН</a>
                  </li>
              </ul>
          </nav>
          <ul class="social">
              <li class="vk social__item"><a class="social__link">vk</a></li>
              <li class="ok social__item"><a class="social__link">ok</a></li>
              <li class="facebook social__item"><a class="social__link">fb</a></li>
          </ul>
      </div>
  </header>
  <main class="clearfix">
	  <div class="events-gallery">
	  	<div class="events-gallery__img" style="background-image:url('../static/img/main.jpg');"></div>
	  	<div class="events-gallery__info">
	  		<div class="events-gallery__head clearfix">
				<h3 class="events-gallery__title">День открытых дверей в нгту</h3>
				<span class="events-gallery__date">21.06.2017</span>
	  		</div>
	  		<p class="events-gallery__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, animi.</p>
	  		<a href="" class="events-gallery__link">подробнее</a>
	  		<div class="events-gallery__footer clearfix">
				<div class="events-gallery__buttons">
					<button class="events-gallery__button"></button>
					<button class="events-gallery__button"></button>
					<button class="events-gallery__button"></button>
					<button class="events-gallery__button"></button>
					<button class="events-gallery__button"></button>
				</div>
				<a href="" class="events-gallery__all">все события</a>
	  		</div>
	  	</div>
	  </div>
	  <div class="wrapper">
		  <p class="hello">Добро пожаловать на студенческий сайт НГТУ <br>
		здесь вы сможете найти вас интересующию информацию и события<br>
		во всех сферах студенческой жизни!</p>
		  <div class="clearfix">
			  <div class="preview-section preview-section_sport">
				<h2 class="preview-section__title">Спорт</h2>
				<p class="preview-section__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae reprehenderit perspiciatis neque perferendis qui voluptate, porro facilis.</p>
				<a href="" class="preview-section__link">подробнее</a>
			  </div>
			  <div class="preview-section preview-section_sience">
				<h2 class="preview-section__title">Наука</h2>
				<p class="preview-section__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae reprehenderit perspiciatis neque perferendis qui voluptate, porro facilis.</p>
				<a href="" class="preview-section__link">ОНИРС</a>
				<a href="" class="preview-section__link">Бизнес-инкубатор</a>
			  </div>
			  <div class="preview-section preview-section_culture">
				<h2 class="preview-section__title">Культура</h2>
				<p class="preview-section__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae reprehenderit perspiciatis neque perferendis qui voluptate, porro facilis.</p>
				<a href="" class="preview-section__link">подробнее</a>
			  </div>
			  <div class="preview-section preview-section_life">
				<h2 class="preview-section__title">Общественная жизнь</h2>
				<p class="preview-section__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae reprehenderit perspiciatis neque perferendis qui voluptate, porro facilis.</p>
				<a href="" class="preview-section__link">подробнее</a>
			  </div>
		  </div>
	  </div>
		  <div class="nstu-foto"></div>
		  <div class="more-services">
			<h2 class="more-services__title">Дополнительные сервисы для студентов:</h2>
			<div class="service">
				<div class="service__img"><img src="../static/img/work.png" alt=""></div>
				<h3 class="service__title">Работа</h3>
				<p class="service__description">Описание сервиса</p>
				<a href="" class="service__link">подробнее</a>
			</div>
			<div class="service">
				<div class="service__img"><img src="../static/img/timetable.png" alt=""></div>
				<h3 class="service__title">Расписание</h3>
				<p class="service__description">Описание сервиса</p>
				<a href="" class="service__link">подробнее</a>
			</div>
			<div class="service">
				<div class="service__img"><img src="../static/img/3d.png" alt=""></div>
				<h3 class="service__title">3D-НГТУ</h3>
				<p class="service__description">Описание сервиса iegfyefg fygefuagf yugfuywfgf uywgfuwyfgwf wfgwfywg ygygygw wydwy dwyud</p>
				<a href="" class="service__link">подробнее</a>
			</div>
		  </div>
  </main>
  <footer class="index-footer">
    <div class="wrapper">
        <div class="adress">Россия 630073, Новосибирск проспект К.Маркса, 20 корпус 2а, к. 206. телефон: 8 (383) 346 11 21 эл.почта: stud@nstu.ru</div>
        <div class="info">&copy; 2005-2017, Новосибирский государственный технический университет, Студенческий пресс-центр. Свидетельство о регистрации: СМИ Эл № ФС77-45108 от 18 мая 2011 г. Выдано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор)</div>
    </div>
</footer>
	</body>
</html>