<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ Title }}</title>
    <link href="../static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="../static/css/output.css" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <link href="../static/css/Accordion.css" rel="stylesheet" type="text/css">
    <link href="../static/css/onir.css" rel="stylesheet" type="text/css">
    <link href="../static/css/fonts.css" rel="stylesheet" type="text/css">
    <script src="../static/scripts.js"></script>
</head>
<body>
  {{ header | safe}}
  <main>
      {{ promo | safe }}
      {{ content | safe }}
  </main>
  {{ footer | safe }}
</body>
</html>