<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
    <title>JS Bin</title>
    <link href="../static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="../static/css/output.css" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <link href="../static/css/Accordion.css" rel="stylesheet" type="text/css">
    <link href="../static/css/onir.css" rel="stylesheet" type="text/css">
    <script src="../static/scripts.js"></script>

</head>
<body>
  <header>
      <div class="header">
          <div class="logo">
              <h1>Новосибирский Государственный Технический Университет</h1>
          </div>
          <nav>
              <ul class="main-nav">
                  <li><a>НАУКА</a></li>
                  <li><a>СПОРТ</a></li>
                  <li><a>КУЛЬТУРА</a></li>
                  <li><a>ОБЩЕСТВЕННАЯ ЖИЗНЬ</a></li>
                  <li><a>ЗДОРОВЬЕ</a></li>
              </ul>
              <ul class="sub-nav">
                  <li><a>РАСПИСАНИЯ</a></li>
                  <li><a>3D-НГТУ</a></li>
                  <li><a>ТРУДОУСТРОЙСТВО</a></li>
                  <li><a>МАГАЗИН</a></li>
              </ul>
          </nav>
          <ul class="social">
              <li class="vk"><a>vk</a></li>
              <li class="ok"><a>ok</a></li>
              <li class="facebook"><a>fb</a></li>
          </ul>
      </div>
  </header>
  <main style="background-color: #caf6f6;">
    <iframe src="map_inner.html" width="100%" height="100%;" style="min-height: 70%; overflow: hidden; border: 0;" scrolling="no"></iframe>
  </main>
  <footer>
    <div id="footer">
        <div class="adress">Россия 630073, Новосибирск проспект К.Маркса, 20 корпус 2а, к. 206. телефон: 8 (383) 346 11 21 эл.почта: stud@nstu.ru</div>
        <div class="info">&copy; 2005-2017, Новосибирский государственный технический университет, Студенческий пресс-центр. Свидетельство о регистрации: СМИ Эл № ФС77-45108 от 18 мая 2011 г. Выдано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор)</div>
    </div>
</footer>
</body>

</html>
