<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
    <title>JS Bin</title>
    <link href="../static/css/allstyles.css" rel="stylesheet" type="text/css">

</head>
<body>
  <header>
      <div class="wrapper">
          <div class="logo">
              <img src="../static/img/logo.png" alt="">
              <h1>Новосибирский Государственный Технический Университет</h1>
          </div>
          <nav>
              <ul class="main-nav">
                  <li class="main-nav__item">
                      <a href="/" class="main-nav__link">НАУКА</a>
                  </li>
                  <li class="main-nav__item">
                      <a href="/garage" class="main-nav__link">СПОРТ</a>
                  </li>
                  <li class="main-nav__item">
                      <a href="/culture" class="main-nav__link">КУЛЬТУРА</a>
                  </li>
                  <li class="main-nav__item">
                      <a class="main-nav__link">ОБЩЕСТВЕННАЯ ЖИЗНЬ</a>
                  </li>
                  <li class="main-nav__item">
                      <a class="main-nav__link">ЗДОРОВЬЕ</a>
                  </li>
              </ul>
              <ul class="sub-nav">
                  <li class="sub-nav__item">
                      <a href="/schedule" class="sub-nav__link">РАСПИСАНИЯ</a>
                  </li>
                  <li class="sub-nav__item">
                      <a href="/map" class="sub-nav__link">3D-НГТУ</a>
                  </li>
                  <li class="sub-nav__item">
                      <a href="/om" class="sub-nav__link">ТРУДОУСТРОЙСТВО</a>
                  </li>
                  <li class="sub-nav__item">
                      <a class="sub-nav__link">МАГАЗИН</a>
                  </li>
              </ul>
          </nav>
          <ul class="social">
              <li class="vk social__item"><a class="social__link">vk</a></li>
              <li class="ok social__item"><a class="social__link">ok</a></li>
              <li class="facebook social__item"><a class="social__link">fb</a></li>
          </ul>
      </div>
  </header>
  <main style="background-color: #caf6f6;">
    <iframe src="map_inner.html" width="100%" height="100%;" style="min-height: 70vh; overflow: hidden; border: 0;" scrolling="no"></iframe>
  </main>
  <footer>
    <div class="wrapper">
        <div class="adress">Россия 630073, Новосибирск проспект К.Маркса, 20 корпус 2а, к. 206. телефон: 8 (383) 346 11 21 эл.почта: stud@nstu.ru</div>
        <div class="info">&copy; 2005-2017, Новосибирский государственный технический университет, Студенческий пресс-центр. Свидетельство о регистрации: СМИ Эл № ФС77-45108 от 18 мая 2011 г. Выдано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор)</div>
    </div>
  </footer>
</body>

</html>
