<script>
   server_address = 'https://api_my.nstu.ru/';
   var FME2CONFIG = {icon_path: '../static/map/icons/'};
</script>

<link href="../static/map/css/icon.css" rel="stylesheet" type="text/css">
<link href="../static/map/css/roboto.css" rel="stylesheet" type="text/css">

<script src="../static/map/js.cookie.min.2.1.1.js"></script>

<!-- FME2 FILES / jQuery and Google Material Icon require! / Requests using server_address -->
<link href="../static/css/fme2.config.css" rel="stylesheet" type="text/css" >
<link href="../static/map/css/fme2.css" rel="stylesheet" type="text/css">

<script src="../static/map/three/three.min.js"></script>
<script src="../static/map/three/OrbitControls.min.js"></script>
<script src="../static/map/three/CSS2DRenderer.min.js"></script>
<script src="../static/map/three/ThreeCSG.min.js"></script>
<script src="../static/map/three/stats.min.js"></script>

<div id="fme2"></div>

<script src="../static/map/fme2.min.js"></script>

<script src="../static/map/fme2.css.js"></script>
