<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/Material_icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/static/map/bootstrap/bootstrap.min.js"></script>
    <link href="/static/map/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/map/css/fme2-common.css">
    <link href="../static/css/fonts.css" rel="stylesheet" type="text/css">
    <script>
        var server_address = "https://api_my.nstu.ru/"
    </script>

</head>
<body>
      <div id="view_container"></div>
</body>
<script src="/static/map/three/three.min.js"></script>
<script src="/static/map/three/OrbitControls.js"></script>
<script src="/static/map/three/stats.min.js"></script>
<script src="/static/map/three/CSS2DRenderer.js"></script>

<script src="/static/map/three/ThreeCSG.js"></script>

<script src="/static/map/map2.min.js"></script>
</html>