<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset=utf-8 />
    <title>JS Bin</title>
    <link href="../static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="../static/css/output.css" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <link href="../static/css/Accordion.css" rel="stylesheet" type="text/css">
    <link href="../static/css/onir.css" rel="stylesheet" type="text/css">
    <link href="../static/css/fonts.css" rel="stylesheet" type="text/css">
    <script src="../static/scripts.js"></script>
    <script src="../static/js/jquery-3.1.1.min.js"></script>

    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=yd2jf65wtewa567eqgeov1dtkrctk3d03x14vy8ctnj5cnb8"></script>
    <script src="../static/js/tinymce_config.js" type="text/javascript" language="javascript"></script>
</head>
<body>
  <header>
      <div class="wrapper">
          <div class="logo">
              <img src="../static/img/logo.png" alt="">
              <h1>Новосибирский Государственный Технический Университет</h1>
          </div>
          <nav>
              <ul class="main-nav">
                  <li class="main-nav__item">
                      <a href="/" class="main-nav__link">НАУКА</a>
                  </li>
                  <li class="main-nav__item">
                      <a href="/garage" class="main-nav__link">СПОРТ</a>
                  </li>
                  <li class="main-nav__item">
                      <a href="/culture" class="main-nav__link">КУЛЬТУРА</a>
                  </li>
                  <li class="main-nav__item">
                      <a class="main-nav__link">ОБЩЕСТВЕННАЯ ЖИЗНЬ</a>
                  </li>
                  <li class="main-nav__item">
                      <a class="main-nav__link">ЗДОРОВЬЕ</a>
                  </li>
              </ul>
              <ul class="sub-nav">
                  <li class="sub-nav__item">
                      <a href="/schedule" class="sub-nav__link">РАСПИСАНИЯ</a>
                  </li>
                  <li class="sub-nav__item">
                      <a href="/map" class="sub-nav__link">3D-НГТУ</a>
                  </li>
                  <li class="sub-nav__item">
                      <a href="/om" class="sub-nav__link">ТРУДОУСТРОЙСТВО</a>
                  </li>
                  <li class="sub-nav__item">
                      <a class="sub-nav__link">МАГАЗИН</a>
                  </li>
              </ul>
          </nav>
          <ul class="social">
              <li class="vk social__item"><a class="social__link">vk</a></li>
              <li class="ok social__item"><a class="social__link">ok</a></li>
              <li class="facebook social__item"><a class="social__link">fb</a></li>
          </ul>
      </div>
  </header>
  <main>
      <div class="promo promo_onir">
        <div class="wrapper">
            <div class="promo__title">
                <div class="promo__question">Хочешь принять участие в научной сфере студенческой жизни?</div>
                <!--<div class="second">ОНИРС</div>-->
                <h1 class="promo__head-title">Онирс</h1>
                <div class="promo__subtitle">Отдел научно </br>-исследовательских работ</div>
            </div>
            <div class="promo__info">
                <p class="promo__about">
                    <span>Центр научно-технической работы студентов это</span>
                    исполнительный орган по развитию и
                    координации научно-технической работы студентов и
                    созданию новых университетских традиций.
                </p>
                <div class="proposal">
                    <h3 class="proposal__title">Мы предлагаем:</h3>
                    <ul class="proposal__list">
                        <div class="proposal__item">
                            <div class="proposal__sub-title"><div class="icon30"></div>Конкурсы</div>
                            <div class="proposal__sub-info">Интернет-предпринимательство</div>
                            <a href="" class="proposal__link">Подробнее</a>
                        </div>
                        <div class="proposal__item">
                            <div class="proposal__sub-title"><div class="icon31"></div>Олимпиады</div>
                            <div class="proposal__sub-info">Управление инновациями</div>
                            <a href="" class="proposal__link">Подробнее</a>
                        </div>
                        <div class="proposal__item">
                            <div class="proposal__sub-title"><div class="icon32"></div>Конференции</div>
                            <div class="proposal__sub-info">Управление инновациями</div>
                            <a href="" class="proposal__link">Подробнее</a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
      </div>
      <div class="content">
          <div class="wrapper">
              <div class="sidebar">
                  <ul class="sidebar-menu">
                      <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Общая информация</a></li>
                      <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Конференции</a></li>
                      <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Олимпиады</a></li>
                      <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Конкурсы</a></li>
                      <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Другие мероприятия</a></li>
                  </ul>
                  <div class="events">
                      <a href="#" class="events__item">
                          <img class="events__img" src="../static/photo/nstu.jpg"></img>
                          <p class="events__title">Дни открытых дверей НГТУ</p>
                      </a>
                      <a href="#" class="events__item">
                          <img class="events__img" src="../static/photo/nstu.jpg"></img>
                          <p class="events__title">Дни открытых дверей НГТУ</p>
                      </a>
                  </div>
                      <div class="more-events">
                         <a href="">больше мероприятий и акций</a>
                      </div>
              </div>
              <div class="main-content">
                  <form method="post">
                      <!-- <textarea class="wysiwyg"></textarea> -->
                       <input name="image" type="file" id="upload" style="display:none" onchange="">
                  </form>
                  <div class="note wysiwyg">
                      <div class="main-text">
                          <h2>
                              Материаловедение и технология </br> конструкционных материалов
                          </h2>
                          <div class="data">
                              Обновлено 21.06.2016
                          </div>
                          <p class="text">
Всероссийский (третий) этап Всероссийской олимпиады студентов образовательных учреждений высшего профессионального образования (далее - ВСО) проводится согласно Регламенту организации и проведения ВСО, утвержденному заместителем Министра образования и науки Российской Федерации, и Положению организации и проведения всероссийского (третьего) этапа ВСО «Материаловедение и технология конструкционных материалов».
</br></br>
ВСО «Материаловедение и технология конструкционных материалов»
проводится ___________ на базе Новосибирского государственного технического университета.
</br></br>
Заезд участников ВСО осуществляется _______________
</br></br>
Адрес образовательного учреждения высшего профессионального образования, на базе которого проводится ВСО:
</br></br>
630073, г. Новосибирск, пр. К. Маркса, 20, НГТУ, 5 корпус, ауд. 259.
Тел.: 8 (383) 346-11-71.
                              </br></br>
                          </p>
                          <div class="icon"></div>
                      </div>
                      <div>
                        <button class="accordion"><div></div> Туры</button>
                        <div class="panel">
                          <p>Lorem ipsum...</p>
                        </div>
                        <button class="accordion"><div></div>Допуск к участию</button>
                        <div class="panel">
                          <p>К участию в заключительном (третьем) этапе ВСО допускаются победители региональных этапов, которых направляют образовательные учреждения высшего профессионального образования, на базе которых проводился второй тур ВСО.
                              К участию в ВСО допускаются студенты – граждане Российской Федерации в возрасте до 25 лет, обучающиеся по направлениям ФГОС:
                          </p>
                          <ul>
                                <li>150100 – «Материаловедение и технологии материалов»;</li>
                                <li>150400 – «Металлургия»;</li>
                                <li>150415 – «Сварочное производство»;</li>
                                <li>150700 – «Машиностроение»;</li>
                                <li>261400 – «Технология художественной обработки материалов».</li>
                          </ul>
                            <p>
                            Состав команд – до 3-х студентов и один сопровождающий преподаватель - член жюри олимпиады.
                            Количество команд, направляемых от одного ВУЗа, не более 2-х.
                            Участники ВСО обязаны пройти регистрацию по установленной форме в вузе, на базе которого проводится всероссийский (третий) этап ВСО.
                            Участники ВСО должны иметь при себе:
                            </p>
                            <ul>
                                <li>студенческий билет,</li>
                                <li>паспорт,</li>
                                <li>справку с места учёбы, подписанную руководителем вуза и заверенную печатью,</li>
                                <li>номер предварительно открытого счёта на свое имя в отделении Сбербанка России по месту жительства и реквизиты отделения Сбербанка России.</li>
                            </ul>
                            <p>
                            В период участия в мероприятиях ВСО, участники должны придерживаться делового стиля одежды и поведения.
                            Лица, сопровождающие участников ВСО, несут ответственность за поведение, жизнь и безопасность студентов в пути следования и в период проведения мероприятий ВСО.
                            </p>
                        </div>
                        <button class="accordion"><div></div>Структура и содержание заданий</button>
                        <div class="panel">
                          <p>Lorem ipsum...</p>
                        </div>
                        <button class="accordion"><div></div>Определение победителей</button>
                        <div class="panel">
                          <p>Lorem ipsum...</p>
                        </div>
                      </div>
                      <div class="docs">
                          <div class="word"><div class="img"></div><a href="">Шаблон статьи </br>(word, 39kb)</a></div>
                          <div class="word"><div class="img"></div><a href="">Требования </br>(word, 39kb)</a></div>
                          <div class="pdf"><div class="img"></div><a href="">Участники (от 29.02.17) </br>(pdf, 39 kb)</a></div>
                          <div class="file"><div class="img"></div><a href="">Участники (от 29.02.17) </br>(pdf, 39 kb)</a></div>
                      </div>
                  </div>
              </div>
              <div class="clearfix"></div>
          </div>
      </div>
  </main>
  <footer>
    <div class="wrapper">
        <div class="adress">Россия 630073, Новосибирск проспект К.Маркса, 20 корпус 2а, к. 206. телефон: 8 (383) 346 11 21 эл.почта: stud@nstu.ru</div>
        <div class="info">&copy; 2005-2017, Новосибирский государственный технический университет, Студенческий пресс-центр. Свидетельство о регистрации: СМИ Эл № ФС77-45108 от 18 мая 2011 г. Выдано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор)</div>
    </div>
</footer>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
  	  panel.style.maxHeight = null;
    } else {
  	  panel.style.maxHeight = panel.scrollHeight + "px";
    }
  }
}
</script>
</body>
</html>
