<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset=utf-8 />
    <title>JS Bin</title>
    <link href="../static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="../static/css/output.css" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <link href="../static/css/Accordion.css" rel="stylesheet" type="text/css">
    <link href="../static/css/onir.css" rel="stylesheet" type="text/css">
    <link href="../static/css/fonts.css" rel="stylesheet" type="text/css">
    <script src="../static/scripts.js"></script>
</head>
<body>
  <header>
      <div class="header">
          <div class="logo">
              <h1>Новосибирский Государственный Технический Университет</h1>
          </div>
          <nav>
              <ul class="main-nav">
                  <li><a href="/onir">НАУКА</a></li>
                  <li><a>СПОРТ</a></li>
                  <li><a href="/culture">КУЛЬТУРА</a></li>
                  <li><a>ОБЩЕСТВЕННАЯ ЖИЗНЬ</a></li>
                  <li><a>ЗДОРОВЬЕ</a></li>
              </ul>
              <ul class="sub-nav">
                  <li><a>РАСПИСАНИЯ</a></li>
                  <li><a>3D-НГТУ</a></li>
                  <li><a>ТРУДОУСТРОЙСТВО</a></li>
                  <li><a>МАГАЗИН</a></li>
              </ul>
          </nav>
          <ul class="social">
              <li class="vk"><a>vk</a></li>
              <li class="ok"><a>ok</a></li>
              <li class="facebook"><a>fb</a></li>
          </ul>
      </div>
  </header>
  <main>
      <div class="promo">
        <div>
            <div class="onir">
                <div class="first">Хочешь принять участие в научной сфере студенческой жизни?</div>
                <div class="second">ОНИР</div>
                <div class="third">Отдел научно </br>-исследовательских работ</div>
            </div>
            <div class="onir-info">
                <div class="about"><span>Центр научно-технической работы студентов это</span>
                    исполнительный орган по развитию и
                    координации научно-технической работы студентов и
                    созданию новых университетских традиций.
                </div>
                <div class="onir-about">Мы предлагаем:</div>
                <div class="abb">
                    <div class="col-1">
                        <div class="sub-title"><div class="icon30"></div>Конкурсы</div>
                        <div class="sub-info">Интернет-предпринимательство</div>
                        <a href="">Подробнее</a>
                    </div>
                    <div class="col-2">
                        <div class="sub-title"><div class="icon31"></div>Олимпиады</div>
                        <div class="sub-info">Управление инновациями</div>
                        <a href="">Подробнее</a>
                    </div>
                    <div class="col-3">
                        <div class="sub-title"><div class="icon32"></div>Конференции</div>
                        <div class="sub-info">Управление инновациями</div>
                        <a href="">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="content">
          <div>
              <div class="side-bar">
                  <ul>
                      <li><a href="/onir_about">Общая информация</a></li>
                      <li><a href="/">Конференции</a></li>
                      <li><a href="/">Олимпиады</a></li>
                      <li><a href="#">Конкурсы</a></li>
                      <li><a href="#">Другие мероприятия</a></li>
                  </ul>
                  <div class="event">
                      <a href="#">
                          <image class="event-image" src="../static/photo/nstu.jpg">

                          </image>
                          <div class="event-title">
                              Дни открытых дверей НГТУ
                          </div>
                      </a>
                      <a href="#">
                          <image class="event-image" src="../static/photo/nstu.jpg">

                          </image>
                          <div class="event-title">
                              Дни открытых дверей НГТУ
                          </div>
                      </a>
                  </div>
                      <div class="more">
                         <a href="#">больше мероприятий и акций</a>
                      </div>
              </div>
              <div class="main-content">
                  <div class="note">
                      <div class="main-text">
                          <h2>
                             Общая информация
                          </h2>
                          <p class="important">
                              25 апреля 1995 года в Новосибирском государственном техническом университете был создан Центр научно-технической работы студентов (Центр НТРС НГТУ),
                              который руководствуется в своей деятельности Уставом НГТУ, решениями и рекомендациями Экспертного Совета по НИРС, являясь его исполнительным органом по
                              развитию и координации научно-технической работы студентов и созданию новых университетских традиций.

                          </p>
                          <p class="important">
                              Организатором Центра НТРС и его руководителем до ноября 2003 года была доктор технических наук, профессор Кувшинова Мария Александровна.
                          </p>
                          <p class="important">
                              Здесь разработано информационное и программное обеспечение мониторинга НИРС в НГТУ. В банке данных имеются сведения о студентах,
                              участвующих в научно-исследовательской работе и результатах их деятельности, сведения о студентах-держателях грантов,
                              о преподавателях - научных руководителях, а также информация обо всех текущих и плановых мероприятиях университета, города, России,
                              об участии студентов в конференциях, выставках, олимпиадах, конкурсах и т.д.
                          </p>
                          <p class="important">
                              Центр НТРС поддерживает связь с аналогичными структурами города и России.
                          </p>

                          <p class="important">
                              Центр НТРС является инициатором выпуска сборника тезисов по результатам Дней Науки НГТУ (1996 г.),
                              проведения в университете студенческого конкурса "Прометей" (1997 г.), стендовой научной студенческой конференции (1997 г.), всероссийской научной
                              конференции молодых ученых "Наука. Технологии. Инновации" (2001 г.),
                          </p>
                          <p class="important">
                              В 2017 году ЦНТРС был переименован в отдел научно-исследовательской работы студентов- ОНИРС, и введён в состав Инновационно-технологического центра.
                          </p>

                          </div>
{#                          <div class="person">#}
{#                              <div class="img"></div>#}
{#                              <span>Директор ИТЦ</span>#}
{#                              <span>Филатова Светлана Геннадьевна</span>#}
{#                          </div>#}
{#                          <div class="person">#}
{#                              <div class="img"></div>#}
{#                              <span>Руководитель группы ОНИР</span>#}
{#                              <span>Петрова Ирина Владимировна</span>#}
{#                          </div>#}
                  </div>
              </div>
              <div class="clearfix"></div>
          </div>
      </div>
  </main>
  <footer>
    <div id="footer">
        <div class="adress">Россия 630073, Новосибирск проспект К.Маркса, 20 корпус 2а, к. 206. телефон: 8 (383) 346 11 21 эл.почта: stud@nstu.ru</div>
        <div class="info">&copy; 2005-2017, Новосибирский государственный технический университет, Студенческий пресс-центр. Свидетельство о регистрации: СМИ Эл № ФС77-45108 от 18 мая 2011 г. Выдано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор)</div>
    </div>
</footer>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
  	  panel.style.maxHeight = null;
    } else {
  	  panel.style.maxHeight = panel.scrollHeight + "px";
    }
  }
}
</script>
</body>
</html>
