<div class="promo">
    <div>
        <div class="onir">
            <div class="first">Хочешь принять участие в научной сфере студенческой жизни?</div>
            <div class="second">ОНИР</div>
            <div class="third">Отдел научно </br>-исследовательских работ</div>
        </div>
        <div class="onir-info">
            <div class="about"><span>Центр научно-технической работы студентов это</span>
                исполнительный орган по развитию и
                координации научно-технической работы студентов и
                созданию новых университетских традиций.
            </div>
            <div class="onir-about">Мы предлагаем:</div>
            <div class="abb">
                <div class="col-1">
                    <div class="sub-title"><div class="icon30"></div>Конкурсы</div>
                    <div class="sub-info">Интернет-предпринимательство</div>
                    <a href="">Подробнее</a>
                </div>
                <div class="col-2">
                    <div class="sub-title"><div class="icon31"></div>Олимпиады</div>
                    <div class="sub-info">Управление инновациями</div>
                    <a href="">Подробнее</a>
                </div>
                <div class="col-3">
                    <div class="sub-title"><div class="icon32"></div>Конференции</div>
                    <div class="sub-info">Управление инновациями</div>
                    <a href="">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>
