<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/allstyles.css">
    <title>Наука</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="../static/img/logo.png" alt="">
                <h1>Новосибирский Государственный Технический Университет</h1>
            </div>
            <nav>
                <ul class="main-nav">
                    <li class="main-nav__item">
                        <a href="/" class="main-nav__link">НАУКА</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="/garage" class="main-nav__link">СПОРТ</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="/culture" class="main-nav__link">КУЛЬТУРА</a>
                    </li>
                    <li class="main-nav__item">
                        <a class="main-nav__link">ОБЩЕСТВЕННАЯ ЖИЗНЬ</a>
                    </li>
                    <li class="main-nav__item">
                        <a class="main-nav__link">ЗДОРОВЬЕ</a>
                    </li>
                </ul>
                <ul class="sub-nav">
                    <li class="sub-nav__item">
                        <a href="/schedule" class="sub-nav__link">РАСПИСАНИЯ</a>
                    </li>
                    <li class="sub-nav__item">
                        <a href="/map" class="sub-nav__link">3D-НГТУ</a>
                    </li>
                    <li class="sub-nav__item">
                        <a href="/om" class="sub-nav__link">ТРУДОУСТРОЙСТВО</a>
                    </li>
                    <li class="sub-nav__item">
                        <a class="sub-nav__link">МАГАЗИН</a>
                    </li>
                </ul>
            </nav>
            <ul class="social">
                <li class="vk social__item"><a class="social__link">vk</a></li>
                <li class="ok social__item"><a class="social__link">ok</a></li>
                <li class="facebook social__item"><a class="social__link">fb</a></li>
            </ul>
        </div>
    </header>
    <main>
        <a href="/onirs">
          <div class="promo promo_onir">
            <div class="wrapper">
                <div class="promo__title">
                    <div class="promo__question">Хочешь принять участие в научной сфере студенческой жизни?</div>
                    <h1 class="promo__head-title">Онирс</h1>
                    <div class="promo__subtitle">Отдел научно </br>-исследовательских работ</div>
                </div>
                <div class="promo__info">
                    <p class="promo__about">
                        <span>Центр научно-технической работы студентов это</span>
                        исполнительный орган по развитию и
                        координации научно-технической работы студентов и
                        созданию новых университетских традиций.
                    </p>
                    <div class="proposal">
                        <h3 class="proposal__title">Мы предлагаем:</h3>
                        <div class="proposal__list">
                            <div class="proposal__item">
                                <div class="proposal__sub-title"><div class="icon30"></div>Конкурсы</div>
                                <div class="proposal__sub-info">Интернет-предпринимательство</div>
                                <a href="" class="proposal__link">Подробнее</a>
                            </div>
                            <div class="proposal__item">
                                <div class="proposal__sub-title"><div class="icon31"></div>Олимпиады</div>
                                <div class="proposal__sub-info">Управление инновациями</div>
                                <a href="" class="proposal__link">Подробнее</a>
                            </div>
                            <div class="proposal__item">
                                <div class="proposal__sub-title"><div class="icon32"></div>Конференции</div>
                                <div class="proposal__sub-info">Управление инновациями</div>
                                <a href="" class="proposal__link">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </a>
      <a href="/garage">
        <div class="promo promo_garage">
              <div class="wrapper">
                  <div class="promo__title">
                      <div class="promo__question">Есть интересные <br />  идеи но нет возможности реализовать все одному?</div>
                      <h1 class="promo__head-title">
                         <img src="../static/img/garage-logo.png" alt="">
                          <small>Бизнес-инкубатор</small>Гараж
                      </h1>
                      <div class="promo__subtitle">прокачает твой <br /> проект</div>
                  </div>
                  <div class="promo__info">
                      <p class="promo__about">
                            <span>Гараж это</span>
                        исполнительный орган по развитию и
                        координации научно-технической работы студентов и
                        созданию новых университетских традиций.
                      </p>
                      <a class="resident">Стать резидентом</a>
                      <div class="proposal">
                            <h3 class="proposal__title">Наши образовательные проекты:</h3>
                            <ul class="proposal__list">
                                <div class="proposal__item">
                                    <div class="proposal__sub-title"><div class="icon1"></div>Интернет-предпринимательство</div>
                                    <a href="" class="proposal__link">Подробнее</a>
                                </div>
                                <div class="proposal__item">
                                    <div class="proposal__sub-title"><div class="icon2"></div>Управление инновациями</div>
                                    <a href="" class="proposal__link">Подробнее</a>
                                </div>
                            </ul>
                      </div>
                  </div>
              </div>
          </div>
      </a>
    </main>
    <footer>
        <div class="wrapper">
            <div class="adress">Россия 630073, Новосибирск проспект К.Маркса, 20 корпус 2а, к. 206. телефон: 8 (383) 346 11 21 эл.почта: stud@nstu.ru</div>
            <div class="info">&copy; 2005-2017, Новосибирский государственный технический университет, Студенческий пресс-центр. Свидетельство о регистрации: СМИ Эл № ФС77-45108 от 18 мая 2011 г. Выдано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор)</div>
        </div>
    </footer>
</body>
</html>