
<div class="promo promo_onir">
<div class="wrapper">
    <div class="promo__title">
        <div class="promo__question">Хочешь принять участие в научной сфере студенческой жизни?</div>
        <h1 class="promo__head-title"><a href="/onirs">Онирс</a></h1>
        <div class="promo__subtitle">Отдел научно </br>-исследовательских работ</div>
    </div>
    <div class="promo__info">
        <p class="promo__about">
            <span>Центр научно-технической работы студентов это</span>
            исполнительный орган по развитию и
            координации научно-технической работы студентов и
            созданию новых университетских традиций.
        </p>
        <div class="proposal">
            <h3 class="proposal__title">Мы предлагаем:</h3>
            <div class="proposal__list">
                <div class="proposal__item">
                    <div class="proposal__sub-title"><div class="icon30"></div>Конкурсы</div>
                    <div class="proposal__sub-info">Интернет-предпринимательство</div>
                    <a href="" class="proposal__link">Подробнее</a>
                </div>
                <div class="proposal__item">
                    <div class="proposal__sub-title"><div class="icon31"></div>Олимпиады</div>
                    <div class="proposal__sub-info">Управление инновациями</div>
                    <a href="" class="proposal__link">Подробнее</a>
                </div>
                <div class="proposal__item">
                    <div class="proposal__sub-title"><div class="icon32"></div>Конференции</div>
                    <div class="proposal__sub-info">Управление инновациями</div>
                    <a href="" class="proposal__link">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="promo promo_garage">
  <div class="wrapper">
      <div class="promo__title">
          <div class="promo__question">Есть интересные <br />  идеи но нет возможности реализовать все одному?</div>
          <h1 class="promo__head-title"><a href="/dev">
             <img src="../static/img/garage-logo.png" alt="">
              <small>Бизнес-инкубатор</small>Гараж
          </a></h1>
          <div class="promo__subtitle">прокачает твой <br /> проект</div>
      </div>
      <div class="promo__info">
          <p class="promo__about">
                <span>Гараж это</span>
            исполнительный орган по развитию и
            координации научно-технической работы студентов и
            созданию новых университетских традиций.
          </p>
          <a class="resident" href="">Стать резидентом</a>
          <div class="proposal">
                <h3 class="proposal__title">Наши образовательные проекты:</h3>
                <ul class="proposal__list">
                    <div class="proposal__item">
                        <div class="proposal__sub-title"><div class="icon1"></div>Интернет-предпринимательство</div>
                        <a href="" class="proposal__link">Подробнее</a>
                    </div>
                    <div class="proposal__item">
                        <div class="proposal__sub-title"><div class="icon2"></div>Управление инновациями</div>
                        <a href="" class="proposal__link">Подробнее</a>
                    </div>
                </ul>
          </div>
      </div>
  </div>
</div>
