<div class="sidebar">
    <ul class="sidebar-menu">
        {% for item in navigation %}
            <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Общая информация</a></li>
        {% endfor %}
    </ul>
    <div class="events">
        <a href="#" class="events__item">
            <img class="events__img" src="../static/photo/nstu.jpg"></img>
            <p class="events__title">Дни открытых дверей НГТУ</p>
        </a>
        <a href="#" class="events__item">
            <img class="events__img" src="../static/photo/nstu.jpg"></img>
            <p class="events__title">Дни открытых дверей НГТУ</p>
        </a>
    </div>
    <div class="more-events">
        <a href="">больше мероприятий и акций</a>
    </div>
</div>