<ul class="sidebar-menu">
  {% for item in sidebar %}
    <li class="sidebar-menu__item {%   if item.submenu | length > 0 %} sidebar-menu__item_share {% endif %}"><a href="/onirs/{{ item.id }}" class="sidebar-menu__link">{{ item.name }}</a>
    {% if item.submenu | length > 0 %}
        <ul class="sidebar-menu__second-level">
        {% for sub in item.submenu %}
            <li class="sidebar-menu__item"><a href="/onirs/{{ sub.id }}" class="sidebar-menu__link">{{ sub.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    </li>
  {% endfor %}
</ul>