<div class="promo promo_life">
    <div class="wrapper">
        <div class="promo__title">
            <div class="promo__question">Не знаешь где провести свободное время или как организовать свой досуг?</div>
            <div class="promo__subtitle_top">Раздел</div>
            <h1 class="promo__head-title"><a href="/onirs">Общественая жизнь</a></h1>
            <div class="promo__subtitle">Поможет в этом</div>
        </div>
{#        <div class="promo__info">#}
{#            <p class="promo__about">#}
{#                Общ. Жизнь это информационный раздел. Он включает, афиши, интересные городские события и новости.#}
{#            </p>#}
{#            <div class="proposal">#}
{#                <h3 class="proposal__title">Здесь вы найдете:</h3>#}
{#                <div class="proposal__list">#}
{#                    <div class="proposal__item">#}
{#                        <div class="proposal__sub-title">Фотоотчеты событий</div>#}
{#                        <div class="proposal__sub-info">Просматривайте фотоматериалы с прощедших событий</div>#}
{#                        <a href="" class="proposal__link">Подробнее</a>#}
{#                    </div>#}
{#                    <div class="proposal__item">#}
{#                        <div class="proposal__sub-title">События университета</div>#}
{#                        <div class="proposal__sub-info">Узнайте что интересного пройдет в университете в ближайшие дни</div>#}
{#                        <a href="" class="proposal__link">Подробнее</a>#}
{#                    </div>#}
{#                    <div class="proposal__item">#}
{#                        <div class="proposal__sub-title">Совет старост</div>#}
{#                        <div class="proposal__sub-info">Примите активное участие в студенческой общественной жизни</div>#}
{#                        <a href="" class="proposal__link">Подробнее</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
</div>