<div class="promo promo_sport">
    <div class="wrapper">
        <div class="promo__title">
            <div class="promo__question">Не знаешь, где провести свободное время или как организовать свой досуг?</div>
            <div class="promo__subtitle_top">Раздел</div>
            <h1 class="promo__head-title"><a href="">Спорт</a></h1>
            <div class="promo__subtitle">Поможет в этом</div>
        </div>
{#        <div class="promo__info">#}
{#            <p class="promo__about">#}
{#                Цели деятельности: укрепление в сознании студентов необходимости систематических занятий физической культурой и спортом; популяризация различных видов двигательной деятельности; укрепление здоровья, развитие физических навыков и качеств; укрепление спортивных связей с молодежными организациями и высшими учебными заведениями г. Новосибирска, Сибирского региона и России; достижение максимальных спортивных результатов на спортивных форумах самого различного масштаба; развитие технических видов спорта и творческого мышления в студенческой молодежи; поддержание имиджа университета как носителя физической культуры и спорта в г.Новосибирске.#}
{#            </p>#}
{#            <div class="proposal">#}
{#                <h3 class="proposal__title">Здесь вы найдете:</h3>#}
{#                <div class="proposal__list">#}
{#                    <div class="proposal__item">#}
{#                        <div class="proposal__sub-title">Фотоотчеты событий</div>#}
{#                        <div class="proposal__sub-info">Просматривайте фотоматериалы с прощедших событий</div>#}
{#                        <a href="" class="proposal__link">Подробнее</a>#}
{#                    </div>#}
{#                    <div class="proposal__item">#}
{#                        <div class="proposal__sub-title">События университета</div>#}
{#                        <div class="proposal__sub-info">Узнайте что интересного пройдет в университете в ближайшие дни</div>#}
{#                        <a href="" class="proposal__link">Подробнее</a>#}
{#                    </div>#}
{#                    <div class="proposal__item">#}
{#                        <div class="proposal__sub-title">Совет старост</div>#}
{#                        <div class="proposal__sub-info">Примите активное участие в студенческой общественной жизни</div>#}
{#                        <a href="" class="proposal__link">Подробнее</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
    </div>
</div>
<div class="content">
    <div class="wrapper clearfix">
        <div class="main-content">
            <p>Учебно-спортивный оздоровительного центр НГТУ отвечает:</p>
                <ul style="list-style-type: disc;">
                    <li>за содержание спортивных сооружений и их развитие;</li>
                    <li>за спортивно-массовую работу со студентами, ППС и сотрудниками университета;</li>
                    <li>за спортивное совершенствование.</li>
                </ul>
            <p>Цели деятельности:</p>
            <ul>
                <li>укрепление в сознании студентов необходимости систематических занятий физической культурой и спортом;</li>
                <li>популяризация различных видов двигательной деятельности; укрепление здоровья, развитие физических навыков и качеств;</li>
                <li>укрепление спортивных связей с молодежными организациями и высшими учебными заведениями г. Новосибирска, Сибирского региона и России;</li>
                <li>достижение максимальных спортивных результатов на спортивных форумах самого различного масштаба;</li>
                <li>развитие технических видов спорта и творческого мышления в студенческой молодежи;</li>
                <li>поддержание имиджа университета как носителя физической культуры и спорта в г.Новосибирске.</li>
            </ul>
            <p>&nbsp;Подробнисти на сайте <a href="http://www.sport.nstu.ru/page-7.html" target="_blank" rel="noopener noreferrer">учебно-спортивного оздоровительного центра.</a></p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
