<link rel="stylesheet" href="/static/css/uploader/style.css">

<!-- blueimp Gallery styles -->
<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">

<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="/static/css/uploader/jquery.fileupload.css">
<link rel="stylesheet" href="/static/css/uploader/jquery.fileupload-ui.css">
<div class="page-title clearfix">
    <h2>Редактор

    </h2>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span>
                    {% if action=="create" %}
                    Добавить
                    {% elif action=="edit" %}
                    Редактировать
                    {% endif %}
                    Материал
                </div>
            </div>
            <div class="widget-body">
                <form class="form-horizontal" role="form" method="post">
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="new-item__title">Заголовок</label>
                        <div class="col-lg-9">
                          <input type="Text" class="form-control" placeholder="Заголовок" id="new-item__title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="new-item__site">Выберите раздел</label>
                        <div class="col-lg-9">
                          <select class="form-control" id="new-item__site">
                            {% for item in  sites %}
                                <option value="{{ item.id }}">
                                    {{ item.title }}
                                </option>
                            {% endfor %}
                          </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="new-item__parent">Выберите категорию</label>
                        <div class="col-lg-9">
                          <select class="form-control" id="new-item__parent">
                            {% if action=="edit" %}
                              {% for item in list %}
                                    <option value="{{ item.id }}"

                                            {% if item.id==object.sidebar_id %}
                                                selected
			                                {% endif %}

                                        >
                                    {{ item.name }}
                                </option>
                            {% endfor %}
                          {% endif %}
                          </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label"  for="inputHelptext">Лид-абзац</label>
                        <div class="col-lg-9">
                            <textarea class="form-control" rows="7" id="lead_content"></textarea>
                        </div>
                    </div>
{#                    <div class="form-group">#}
{#                        <label class="col-lg-3 control-label" for="enableSocialPosts">Установить событие</label>#}
{#                        <div class="col-lg-9">#}
{#                            <div class="onoffswitch">#}
{#                              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="enableSocialPosts" checked>#}
{#                              <label class="onoffswitch-label" for="enableSocialPosts">#}
{#                                <div class="onoffswitch-inner"></div>#}
{#                                <div class="onoffswitch-switch"></div>#}
{#                              </label>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label class="col-lg-3 control-label" >Дата события</label>#}
{#                        <div class="col-lg-9">#}
{#                            <div class="datepicker-here" data-timepicker="true"></div>#}
{#                        </div>#}
{#                        <script>#}
{#                            $('#enableSocialPosts').change(function () {#}
{#                                if ($('#enableSocialPosts').is(":checked")==true)#}
{#                                    $('.datepicker-here').parents('.form-group').show(500)#}
{#                                else#}
{#                                    $('.datepicker-here').parents('.form-group').hide(500);#}
{#                            });#}
{#                            $('.datepicker-here').datepicker({#}
{#                                    onSelect: function(date) {#}
{#                                }#}
{#                            });#}
{#                            var datepicker = $('#my-elem').datepicker().data('datepicker');#}
{#                            console.log(datepicker.selectDate());#}
{#                        </script>#}
{#                    </div>#}
                    <div class="form-group"><div class="col-lg-12">
                            <textarea class="wysiwyg" id="content"></textarea>
                            <input name="image" type="file" id="upload" style="display:none" onchange="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-lg-offset-10">
                            {% if action=="create" %}
                                <button name="button" type="button" id="add" class="btn btn-success" onchange="">Добавить</button>
                            {% elif action=="edit" %}
                                <button name="button" type="button" id="edit" class="btn btn-success" onchange="">Править</button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span> Загрузка документов
                </div>
            </div>
            <div class="widget-body">
            <!-- The file upload form used as target for the file upload widget -->
            <form id="fileupload" class="form-horizontal" action="/api/admin/pages/files/upload" method="POST" enctype="multipart/form-data">
                <!-- Redirect browsers with JavaScript disabled to the origin page -->
                <noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>
                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->

                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Добавить файлы...</span>
                            <input type="file" name="file" multiple>
                        </span>
                        <button type="submit" class="btn btn-primary start">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Начать загрузку</span>
                        </button>
                        <button type="reset" class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Отменить загрузку</span>
                        </button>
                        <button type="button" class="btn btn-danger delete">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>Удалить</span>
                        </button>
                        <input type="checkbox" class="toggle">
                        <!-- The global file processing state -->
                        <span class="fileupload-process"></span>
                    <!-- The global progress state -->
                    <div class="col-lg-5 fileupload-progress fade">
                        <!-- The global progress bar -->
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                        </div>
                        <!-- The extended global progress state -->
                        <div class="progress-extended">&nbsp;</div>
                    </div>
                <!-- The table listing the files available for upload/download -->
                <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
            </form>
            </div>
        </div>
    </div>
    <!-- The blueimp Gallery widget -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
</div>
<script>
    $( "#new-item__site").on('change',function() {
      console.log( $( "#new-item__site option:selected" ).val() );
    });
     window.onload = function(e) {
        sideBarList();
     };
     $('#new-item__site').on('change', function () {
         $('#new-item__parent').empty();
         sideBarList();
     })
     function sideBarList() {
              $.get('/api/admin/sites/sidebars/menu/getDict/' + $('#new-item__site').val())
                .done(function (e) {
                    var list=JSON.parse(e);
                    $("#new-item__parent").empty();
                    $("#new-item__parent").append('<option value="0">Нет родительского раздела</option>');
                    list.forEach(function (item, i, list) {
                        console.log(item);
                        $("#new-item__parent").append( $('<option value="'+item.id+'">'+item.name+'</option>'));
                    })
        })
     }
function getDate() {

    var d = new Date(),
    month = '' + (d.getMonth() + 1),
    day = '' + d.getDate(),
    year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [day, month, year].join('.');
}
{% if action =='create' %}

    $("#add").click(function (e) {
	     $.post('/api/admin/pages/add',{'page_content': tinyMCE.get('content').getContent(),
                                        'title':$("#new-item__title").val(),
                                        'sitebar_id': $("#new-item__parent").val(),
                                        'date': getDate()
        }).done(function (data) {
            var ret = JSON.parse(data);
            toastr.success("Запись успешно добавлена");
        }).fail(function(data) {
          toastr.error('Произошла ошибка, попробуйте позже', 'Ошибка!')
      });
    })
{% elif action=='edit' %}

    window.onload = function() {
        var obj ={{object |tojson}};
        $("#new-item__title").val(obj.title);
        $("#lead_content").val(obj.lead_content);
        tinymce.activeEditor.setContent(obj.page_content);
    }
    $("#edit").click(function () {
        $.post('/api/admin/pages/change', {
            "title": $("#new-item__title").val(),
            "lead_content": $("#lead_content").val(),
            "page_content": tinymce.activeEditor.getContent(),
            "date": getDate(),
            "id": {{ id }},
            "author_id": {{ user.id }}
        }).done(function (e) {
            var result=JSON.parse(e);
            if (result.succeed==true)
                toastr.success('Материал изменен');
            else toastr.error('Произошла ошибка повторите попытку позже')
        })
    })
{% endif %}
</script>

{% raw %}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Начать</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Отменить</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Удалить</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Отменить</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
{% endraw %}

{% block scripts %}

<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/static/tinymce/js/tinymce/tinymce_config.js" type="text/javascript" language="javascript"></script>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/static/js/uploader/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
<!-- blueimp Gallery script -->
<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/static/js/uploader/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/static/js/uploader/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="/static/js/uploader/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="/static/js/uploader/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="/static/js/uploader/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="/static/js/uploader/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="/static/js/uploader/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="/static/js/uploader/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="/static/js/uploader/main.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->
{% endblock %}

